#macro(util_jellyimg  $imgSrc $extendInfo $imgDefaultSrc)
<img name="jellyimg" src="#if($imgDefaultSrc) $imgDefaultSrc #else $imagePrefix/default1px/default1px.png #end" data-imgsrc="$imgSrc" #if($extendInfo) ${extendInfo} #end/>
#end
#macro(util_imageFormat $imgSrc $styleName)
#if ($imgSrc.contains("$SwitchProtocol//chushou.tv")||$imgSrc.contains("$SwitchProtocol//cdn.kascend.com")||$imgSrc.contains("$SwitchProtocol//kascdn.kascend.com")||$imgSrc.contains("$SwitchProtocol//sc-live.kascend.com")||$imgSrc.contains("$SwitchProtocol//dtstatic3.kascend.com")||$imgSrc.contains("$SwitchProtocol//dtstatic4.kascend.com")||$imgSrc.contains("$SwitchProtocol//v0103.kascend.com")||$imgSrc.contains("$SwitchProtocol//vt0103.kascend.com"))
#set($imgSrc=$imgSrc.replace("http:",""))
#set($imgSrc=$imgSrc.replace("https:",""))
#if(!$imgSrc.contains("!"))
$escapeTool.html($imgSrc)!$styleName##
#else
$escapeTool.html($imgSrc)##
#end
#else
$escapeTool.html($imgSrc)##
#end
#end
## 去掉图片的前缀
#macro(replaceProtocol $value)
#if ($value.contains("$SwitchProtocol//chushou.tv")||$value.contains("$SwitchProtocol//cdn.kascend.com")||$value.contains("$SwitchProtocol//kascdn.kascend.com")||$value.contains("$SwitchProtocol//sc-live.kascend.com")||$value.contains("$SwitchProtocol//dtstatic3.kascend.com")||$value.contains("$SwitchProtocol//dtstatic4.kascend.com")||$value.contains("$SwitchProtocol//v0103.kascend.com")||$value.contains("$SwitchProtocol//vt0103.kascend.com"))
#set($value=$value.replace("http:",""))
#set($value=$value.replace("https:",""))
$escapeTool.html($value)##
#else
$escapeTool.html($value)##
#end
#end
## 去掉图片的前缀字符串格式，用于vm的js
#macro (replaceProtocolStr $value)
#if ($value.contains("$SwitchProtocol//chushou.tv")||$value.contains("$SwitchProtocol//cdn.kascend.com")||$value.contains("$SwitchProtocol//kascdn.kascend.com")||$value.contains("$SwitchProtocol//sc-live.kascend.com")||$value.contains("$SwitchProtocol//dtstatic3.kascend.com")||$value.contains("$SwitchProtocol//dtstatic4.kascend.com")||$value.contains("$SwitchProtocol//v0103.kascend.com")||$value.contains("$SwitchProtocol//vt0103.kascend.com"))
#set($value=$escapeTool.html($value).replace("http:",""))
#set($value=$value.replace("https:",""))
'$value'##
#else
'$value'##
#end
#end
##富文本去掉图片的前缀
#macro (replaceRichTextProtocol $value)
#if ($value.contains("$SwitchProtocol//chushou.tv")||$value.contains("$SwitchProtocol//cdn.kascend.com")||$value.contains("$SwitchProtocol//kascdn.kascend.com")||$value.contains("$SwitchProtocol//sc-live.kascend.com")||$value.contains("$SwitchProtocol//dtstatic3.kascend.com")||$value.contains("$SwitchProtocol//dtstatic4.kascend.com")||$value.contains("$SwitchProtocol//v0103.kascend.com")||$value.contains("$SwitchProtocol//vt0103.kascend.com"))
#set($value=$value.replace("http:",""))
#set($value=$value.replace("https:",""))
$value##
#else
$value##
#end
#end
##format big number
#macro (util_formatBigNumber $bigNumber)
#set($intBigNumber = $mathTool.toNumber($bigNumber))
#if(!$intBigNumber)
#set($intBigNumber = 0)
#end
#if ($intBigNumber >= 10000 && $intBigNumber < 100000000)
#set($value = $mathTool.div($intBigNumber, 10000))
$numberTool.format('#0.0', $value)万##
#elseif($intBigNumber >= 100000000)
#set($value = $mathTool.div($intBigNumber, 100000000))
$numberTool.format('#0.0', $value)亿##
#else
$intBigNumber##
#end
#end
##format big money, like 1000 to 1,000
#macro (util_formatBigMoney $bigNumber)
#set($intBigNumber = $mathTool.toNumber($bigNumber))
#if(!$intBigNumber)
#set($intBigNumber = 0)
#end
#if ($intBigNumber >= 1000)
$numberTool.format('#0,000', $intBigNumber)##
#else
$intBigNumber##
#end
#end
#macro(util_informationType $type)
#if($type==1)
新闻##
#elseif($type==2)
公告##
#elseif($type==3)
活动##
#elseif($type==4)
其他##
#elseif($type==5)
赛事##
#elseif($type==11)
游戏##
#else
全部##
#end
#end
##首页链接
#macro (util_homePageUrl)
${SwitchProtocol}${currentDomain}##
#end
##时间转换  
#macro(util_newchangeTimeLineTime $createdTime  $dateType)
#set($restTime=$dateTool.getSystemTime()-$createdTime.getTime())
#set($maxDay=30 * 24 * 60 * 60 * 1000)
#set($maxMonth=12 * 30 * 24 * 60 * 60 * 1000)
#if ($restTime < 60000) 
刚刚##
#elseif ($restTime >= 60000 && $restTime < 3600000)
#set($minuteTime=$restTime/60000)
$minuteTime分钟前##
#elseif ($restTime >= 3600000 && $restTime < 86400000) 
#set($minuteTime=$restTime/3600000)
$minuteTime小时前##
#elseif ($restTime >= 86400000 && $restTime < $maxDay) 
#set($dayTime=$restTime/86400000)
$dayTime天前##
#else
$dateTool.format(${dateType},$createdTime)##
#end
#end
##时间转换  type=1(区分时间最大到小时) type=2(区分时间最大到7天) type=3(区分时间最大到30天) type=4(区分时间最大到12月)
#macro(util_changeTimeLineTime $createdTime $type $dateType)
#set($restTime=$dateTool.getSystemTime()-$createdTime.getTime())
#if(${type}==2)
#set($maxDay=7 * 24 * 60 * 60 * 1000)
#else
#set($maxDay=30 * 24 * 60 * 60 * 1000)
#end
#set($maxMonth=12 * 30 * 24 * 60 * 60 * 1000)
#if ($restTime < 60000) 
刚刚##
#elseif ($restTime >= 60000 && $restTime < 3600000)
#set($minuteTime=$restTime/60000)
$minuteTime分钟前##
#elseif ($restTime >= 3600000 && $restTime < 86400000) 
#set($minuteTime=$restTime/3600000)
$minuteTime小时前##
#elseif ($restTime >= 86400000 && $restTime < $maxDay) 
#if(${type}<=4 && ${type}>1)
#set($dayTime=$restTime/86400000)
$dayTime天前##
#else
$dateTool.format(${dateType},$createdTime)##
#end
#elseif($restTime >= $maxDay && $restTime < $maxMonth)
#if(${type}==4)
#set($monthTime=$restTime/$maxDay)
$monthTime月前##
#else
$dateTool.format(${dateType},$createdTime)##
#end
#else
$dateTool.format(${dateType},$createdTime)##
#end
#end
#macro(escapeToolHtml $value)
#set($step0 = $value + "")
#set($step1 = $step0.replaceAll('<', '&lt;'))
#set($step2 = $step1.replaceAll('>', '&gt;'))
#set($step3 = $step2.replaceAll('"', '&quot;'))
#set($step4 = $step3.replaceAll("'", '&#39;'))
$step4##
#end
#macro(selectTool $name $defaultText $lists)
<div class="selectToolContainer" id="$name">
	<div class="G_tool">
		<span class="current_text" >$defaultText</span>
		<!-- <div class="icon_arrow"></div> -->
		<img src="$imagePrefix/201708_profile_anchorcenter/arrow@2x.png" alt="" class="icon_arrow">
		<div class="clear"></div>
	</div>
	<div class="G_more_list">
		<ul class="G_more_list_ul">
			#foreach($list in $lists)
			<li>$list</li>
			#end
		</ul>
	</div>
</div>
#end
##铁粉勋章
##铁粉名称、背景颜色、字长、是否过期
##增加勋章颜色的话，需要更新colorData，并且上传一张新增的颜色值为名字的图片，比如2ccfcd.png
#macro (ironFansMedal $text $color $textLength $inUse)
	##过期颜色为灰色
	#if(!$inUse)
		#set($color = 'dadada')
	#end
	##青色 深蓝 蓝色 橙色 绿色 红色 粉色 紫色 灰色
	#set($colorData = {"00c9d2":"009f9d","4e96ff":"2b77e6","00b3ef":"0596e8","fe8000":"fe5400","00c42c":"01ad21","ff5c5c":"f33833","ff69ae":"f44788","b96fff":"9c5ee4","dadada":"b7b7b7"})
	#set($borderColor = ${colorData.get($color)})
		<div class="medal-box">
			<div class="medal-content" style="background-color: #${color};border:1px solid #$borderColor;text-shadow:1px 1px 0 #$borderColor,1px -1px 0 #$borderColor,1px 0 0 #$borderColor,0 1px 0 #$borderColor,0 -1px 0 #$borderColor,-1px 0 0 #$borderColor,
                   -1px 1px 0 #$borderColor,-1px -1px 0 #$borderColor;">
				$escapeTool.html($text)
				<img src="$imagePrefix/201704_ironfans/plate/${color}.png" alt="" class="crown">
				#if($inUse)
				<img src="$imagePrefix/201704_ironfans/plate/wing_left.png" alt="" class="wing-left">
				#else
				<img src="$imagePrefix/201704_ironfans/plate/wing_left_grey.png" alt="" class="wing-left">
				#end
				#if($inUse)
				<img src="$imagePrefix/201704_ironfans/plate/wing_right.png" alt="" class="wing-right">
				#else
				<img src="$imagePrefix/201704_ironfans/plate/wing_right_grey.png" alt="" class="wing-right">
				#end
			</div>
		</div>
#end
##铁粉勋章end
#macro(contractAgreement)
<b>鉴于：</b><br>
1) 甲方是一家综合性管理公司，与开迅公司(定义见下文)进行战略合作，为开迅公司介绍优秀主播提供游戏直播或解说服务；<br>
2) 乙方为知名的游戏玩家，有能力担当游戏解说员；<br>
3) 如甲方原已与乙方签署《游戏解说独家签约协议书》(“<b>原协议</b>”)且仍在合同有效期内的，则双方确认原协议在本协议生效时自行终止，原协议项下已产生的权利、义务及责任仍按原协议确认并延续至本协议有效期截止一并清算；<br>
4) 为进一步明确双方权利义务，双方同意签署本协议，以对原协议项下的合作事项进行修订和重述。<br>

双方经友好协商，签订如下合作协议：<br>

<b>1	定义</b><br>
除本协议中另有约定，双方共同确认下列词语具有以下特定涵义：<br>
1.1	“<b>开迅公司</b>”，指杭州开迅科技有限公司；<br>
1.2	“<b>触手平台</b>”，指由开迅公司运营的在线游戏解说平台(www.chushou.tv; www.chushou.com; chushou.tv)、触手移动客户端及后续不时更新、修改的版本；<br>
1.3	“<b>游戏直播</b>”或“<b>解说</b>”，指通过计算机软件或具录音功能的设备将解说员对游戏规则、游戏过程或游戏经验等的介绍、评论通过互联网进行实时同步播放的行为；<br>
1.4	“<b>游戏解说音频</b>”，指通过计算机软件或具录音功能的设备将解说员对游戏规则、游戏过程或游戏经验等介绍、评论进行录制形成的音频文件；<br>
1.5	“<b>游戏解说视频</b>”，指(1)在游戏过程中通过计算机软件或具有摄制功能的设备将游戏过程及解说员的解说过程进行录制保存所形成的视频文件；或(2)在已有游戏视频基础上后期加入游戏解说音频形成的视频文件；或(3)其他形式体现游戏解说内容的视频文件；<br>
1.6	“<b>协议游戏解说视频</b>”，指本协议有效期内主播担任游戏解说员的游戏解说视频，无论该视频是否完成制作，是否向甲方交付。如甲方对本协议生效前主播担任游戏解说员的解说视频进行宣传推广的，则该视频自动成为该处约定的“协议游戏解说视频”；<br>
1.7	“<b>协议游戏解说音频</b>”，指本协议有效期内由主播担任游戏解说员的游戏解说音频，无论该音频是否完成制作，是否向甲方交付。如甲方对本协议生效前主播担任游戏解说员的解说音频进行的宣传推广的，则该音频自动成为该处约定的“协议游戏解说音频”；<br>
1.8	“<b>其他关联内容</b>”，指通过对在线直播活动进行上载、张贴、发送电子邮件或者任何其他方式传送的视频、音频或其他任何形式的衍生品，包括资讯、资料、文字、软件、音乐、音讯、照片、图形、信息或其他资料本身及相应链接；<br>
1.9	“<b>推广用名</b>”，指主播的网络推广用名、房间号、真实姓名、笔名、网名、曾用名以及任何代表主播身份的文字符号；<br>
1.10 “<b>不可抗力及情势变更</b>”，指在本协议期限内发生的不可预见(或者虽可预见，但其发生或后果不可避免)、非任何一方所能控制且使任何一方无法完全履行本协议内容的状况；<br>
1.11 “<b>直播平台直播规则</b>”， 在触手平台上发布的用户协议、主播规则、触手币兑换规则等以及上述文件不时修订的更新版本；<br>
1.12 “<b>有效直播</b>”，指每日直播时长一小时以上。<br>

<b>2	合作内容及合作期限</b><br>
2.1	甲方推荐乙方在触手平台进行游戏直播，乙方同意在触手平台进行游戏直播，双方同意就上述事项达成独家合作。乙方保证并承诺在合作期限内不在其他平台提供直播或解说。<br>
2.2	双方同意，本协议项下独家合作期限为自本协议生效之日起三年。<br>
2.3	双方同意协议游戏解说视频、协议游戏解说音频、推广用名（不包括主播真实姓名）及其他关联内容的各项权利、权益(包括但不限于信息网络传播权、转授权等知识产权权利)归开迅公司所有，开迅公司有权在本协议期限内和期限届满后自行决定授权他人使用，无需征得甲方或乙方的同意。<br>
2.4	根据乙方的实际情况，甲方可以对乙方及其游戏解说音频、游戏解说视频进行包装、推广。具体推广方式及条件由双方签署书面协议另行约定。<br>
2.5	如乙方根据甲方、开迅公司或触手平台的推荐参加线上或线下的游戏解说或与之相近的活动的，所获得收益由甲方和乙方共同享有，具体条件及分成比例由双方另行协商。<br>
2.6	双方同意并确认，乙方以推广用名在触手平台履行本协议项下义务应当遵守法律法规、直播平台用户协议、直播平台主播规则、触手币兑换规则及其他规范文件，乙方在触手平台之行为的法律后果由乙方承担。<br>
2.7	双方确认：直播平台直播规则（1.11）可视为本协议的附件，甲方授权开迅行使本协议及相关平台直播规则中的相关权利，开迅依据直播平台直播规则对乙方实施的相应行为均视为由甲方实施，其行为结果由甲方承担。<br>
2.8	乙方认同：甲方有权安排第三方对乙方代为履行义务，乙方应当受领；如发生前述事项的，乙方与该第三方之间不存在任何法律关系，其并非意味本合同主体的变更。<br>

<b>3	合作费用及支付方式</b><br>
3.1	双方同意，本协议项下的合作费用为履约奖励，由甲方按月支付。甲方对合作费用及其计算方法拥有最终解释权，并且甲方有权根据乙方实际情况，对合作费用进行调整。<br>
3.2	双方同意，在乙方按照本协议完全履行其约定义务且没有给甲方造成损失的情况下，履约奖励包括乙方在触手平台的排名奖励（对应排名榜名次）、触手平台用户打赏以及乙方在履行本协议过程中所获得的其它收益(如有)。<br>
乙方同意并认可在履行本协议期间获得触手平台用户打赏，仅为网络虚拟财产，不等同于注册用户直接对乙方的财物赠与。但乙方可申请将上述网络虚拟财产提现并参与最终分配，具体分配方式由开迅公司和甲方决定。甲方与开迅公司结算完毕后，甲方有权扣除必要的成本、开支及利润再支付给乙方，实际金额具体以乙方收到为准。<br>
3.3	甲方应于触手平台后台向乙方发出通知确认上一个月的每日排名情况及注册用户给予的打赏情况。乙方如有异议，应当在收到或应当收到该书面通知后三个工作日内通过书面方式提出，乙方逾期未提出异议的，视为乙方对上一个月的每日排名情况及注册用户打赏情况无异议。<br>
本协议项下除其他条款另有约定外，所有甲方应向乙方支付的款项均由甲方或甲方指定的第三方机构以汇款方式进行，在每月25日前将上一月的合作费用支付给乙方。<br>
<span style="color: #ff5959;">双方确认，乙方在触手平台进行认证的银行卡即为乙方指定的收款账户。</span><br>
如乙方变更收款信息，应提前30个工作日以书面方式通知甲方。<br>
3.4	就获得的合作费用，乙方应自行依法纳税。因乙方未依法纳税产生的任何责任(包括行政责任)由乙方自行承担。<br>

<b>4	甲方的权利义务</b><br>
4.1	甲方有权要求乙方对其指定的游戏进行游戏直播或解说。<br>
4.2	甲方有权根据需要更改本协议第2条所列合作事项，乙方应根据甲方的需求完成更改后的事项，但是甲方应提前向乙方告知更改的具体内容。<br>
4.3	乙方签约后，甲方会为乙方在触手平台提供相关一次性签约权益，乙方知晓，以上一次性签约权益系由甲方向开迅公司采购取得后向乙方提供。一次性签约权益包括直播房间一间、平台推荐位卡、海报制作资格、OBS（触手平台开发的并授权主播用于公开播放软件的串流码及服务器地址）使用资格等。乙方在获得上述权益后自行选择是否使用，如乙方使用权益，均需遵守触手平台的相应规则及本协议相关约定，如乙方未使用上述权益的，视为乙方放弃。<br>
4.4	双方同意，甲方有权监督、检查或委托开迅公司监督、检查乙方履行本协议项下之义务。<br>
4.5	双方同意，甲方可根据乙方直播效果，选择与乙方签订线下合作协议。<br>
4.6	甲方应根据本协议的约定按时足额向乙方支付合作费用。<br>

<b>5	乙方的权利义务</b><br>
5.1	乙方依照协议约定和甲方具体要求履行义务后，有权要求甲方支付合作费用。<br>
5.2	乙方应当向甲方提供真实、准确的个人信息及紧急联系人信息，并向甲方提供个人有效证件的复印件。如乙方或其紧急联系人的个人信息、联系方式发生变化，乙方应当提前事先书面告知甲方。<br>
5.3	乙方应当依据本协议约定在触手平台进行游戏直播及解说。<br>
5.4	未经甲方事先书面同意，乙方不得将其推广用名、肖像(包括真人肖像及卡通肖像等)授权第三方使用，不得将乙方个人或合作录制的游戏解说视频、游戏解说音频擅自发布或授权给触手平台之外的其他游戏解说平台使用。<br>
5.5	协议游戏解说视频、协议游戏解说音频、推广用名（不包括主播真实姓名）及其他关联内容的各项权利、权益(包括但不限于信息网络传播权、转授权等知识产权权利)归开迅公司所有，未经开迅公司事先书面同意，乙方不得擅自使用或授权他人使用。<br>
5.6	乙方应亲自履行本协议。未事先经过甲方的书面许可，乙方不得单方将本协议项下之义务交由第三人全部、部分代为或与第三人共同履行。<br>
5.7	乙方同意，未经甲方事先书面许可，乙方不得为甲方指定范围以外的游戏进行解说，不得以非甲方认可的名义进行游戏直播，协议游戏解说视频和协议游戏解说音频中不得出现非甲方或开迅公司指定产品的介绍。<br>
5.8	未经甲方事先书面同意，乙方不得以任何途径或任何方式在触手平台以外的其他网站、直播平台、企业或其它实体从事游戏直播、解说、推广、电商服务或其它类似行为。<br>
5.9	在本协议有效期限内，未经甲方或开迅公司或触手平台事先书面同意，乙方不得参加任何形式的线上或者线下的解说活动、竞赛活动、互动活动或其他行为。<br>
5.10 乙方已知晓、认同并承诺严格遵守触手平台上发布的相关直播规则（包括但不限于主播规则、触手币兑换规则等），乙方的登录行为或者继续使用触手平台的行为，视为乙方对相关规则修订的认同，乙方应对相关规则及后续修订部分予以严格遵守。<br>
5.11 乙方应积极维护甲方及开迅公司形象，不做出有损于甲方、开迅公司和触手平台的行为。乙方不得通过任何渠道(包括但不限于网站、博客、微博、微信、QQ 聊天群、玩家作者聚会等)发布不利于甲方及开迅公司、触手平台的言论。<br>

<b>6	声明、保证及承诺</b><br>
乙方向甲方做出如下声明、保证及承诺：<br>
6.1	签署本协议前，乙方已知悉与甲方的合作事项，充分了解甲方签约乙方的基本要求，并且乙方有条件及有能力签订本协议并完成本协议项下之约定义务。<br>
6.2	乙方向甲方提供的个人信息、紧急联系人信息、个人证件复印件真实、准确和有效。<br>
6.3	乙方保证，协议游戏解说视频、协议游戏解说音频未抄袭或剽窃第三方作品，不侵害任何第三方的合法权利(包括但不限于第三方的著作权等任何知识产权、名誉权、姓名权、肖像权等中国法律规定的相关权利)，不存在包括知识产权纠纷在内的任何法律纠纷，没有违反著作权法及其他有关中国法律的规定，不含有任何法律法规政策禁止和违反社会道德的内容。如违反前述保证产生的法律责任由乙方自行承担。<br>
6.4	乙方承诺，乙方为甲方的独家签约主播，在签订本协议时，乙方不存在与其他任何游戏平台或经纪公司有未履行完毕的合约（原协议除外）。<br>
6.5	乙方承诺，其应亲自履行本协议项下的义务，保证本人真实直播，不挂录像视频、照片等，不消极直播。<br>

<b>7	非劳动关系确认</b><br>
7.1	双方共同确认：甲方与乙方在本协议项下仅为合作关系，甲方与乙方不形成劳动雇佣关系，乙方无权向甲方或开迅公司主张任何形式的劳动关系项下的权利。<br>

<b>8	未成年人特别条款<br>
8.1	已满16周岁未满18周岁未成年人<br>
<u>如乙方订立本协议时已满16周岁未满18周岁，乙方向甲方承诺并确认，乙方以自己的劳动收入作为主要生活来源。乙方有能力理解并签署本协议。乙方已经阅读本协议（包括附件或补充协议，如有）并充分理解各条款之含义，同意遵守本协议、履行本协议项下义务，并愿意承担相应法律责任。</u><br>
8.2	未满16周岁未成年人<br>
8.2.1	<u>如乙方订立本合同时未满16周岁，需向甲方提供乙方法定监护人承诺书，除此之外，甲方有权要求乙方提供乙方法定监护人身份证明复印件、法定监护人关系证明、手机号码、联系方式等信息。</u><br>
8.2.2	<u>乙方及乙方法定监护人已经阅读本协议（包括附件或补充协议，如有）并充分理解各条款之含义，同意遵守本协议、履行本协议项下义务，并愿意承担相应法律责任。</u></b><br>

<b>9	协议的生效及变更</b><br>
9.1	本协议自乙方成为触手平台认证主播起生效。本协议期限届满前一个月内，若甲乙双方均无书面要求不续约的，则本协议期限自动延续一年。<br>
9.2	经双方协商一致，双方可以签署书面协议修改本协议。<br>

<b>10	终止</b><br>
10.1	在发生以下情形时，本协议终止：<br>
10.1.1	本协议约定的合作期限届满且双方书面确认不续约；<br>
10.1.2	双方协商一致同意终止本协议；<br>
10.2	在一方发生以下情形时，另一方有权提前终止本协议；<br>
10.2.1	甲方连续七天无法与乙方取得联系的；<br>
10.2.2	乙方故意或因疏忽导致严重损害或违背对方利益或合理要求，致使不能实现合同目的；<br>
10.2.3	乙方违约（定义见下文）且未在补救期（定义见下文）内予以补救的；<br>
10.2.4	由于乙方违约造成本协议不能全部或部分履行，或乙方违反本协议第5.4-5.11条、第6.3-6.5条之任一约定(“<b>根本性违约</b>”)；<br>
10.2.5	一方因牵涉本协议外的法律纠纷而严重影响本协议的履行，另一方有权终止协议。<br>
10.3	双方同意并确认，因任何原因导致本协议中止、终止或解除的，不影响开迅公司对协议游戏解说视频、协议游戏解说音频及其他关联内容享有的权利(包括但不限于信息网络传播权、转授权等知识产权权利)。未经开迅公司事先书面同意，乙方不得擅自或授权他人使用任何协议游戏解说视频、协议游戏解说音频或其他关联内容。<br>
10.4	尽管有任何相反规定，本协议中有关违约责任、法律适用和争议解决及保密的规定在本协议到期或终止后仍然继续有效。<br>

<b>11	违约责任</b><br>
11.1	除本协议其它条款另有规定外，如果一方（“<b>违约方</b>”）未履行其在本协议项下任何一项义务或造成对本协议的其它违反（“<b>违约</b>”），包括但不限于乙方在本协议项下做出的任何声明、保证、承诺的内容不正确，或就其中任何条款出现违约，则对方（“<b>守约方</b>”）应有权：<br>
11.1.1	向违约方发出书面通知，说明违约的性质以及范围，并且要求违约方在通知中规定的合理期限内（“<b>补救期</b>”）自费予以补救；<br>
11.1.2	如果乙方违约且未在补救期内予以补救，则甲方有权单方面终止本协议，并就违约引起的损害根据本协议的规定要求乙方赔偿；如果甲方违约且未在补救期内予以补救，则乙方有权就违约引起的损害要求甲方赔偿；<br>
11.1.3	因本协议纠纷之诉讼，由违约方承担守约方因此而支付的包括但不限于诉讼费、律师费、咨询费、取证费、公证费、执行费等相关费用。<br>
11.2	由于乙方违约造成本协议不能全部或部分履行时，或乙方根本性违约，甲方有权选择以下一项或多项救济方式：<br>
11.2.1	视情况单方面解除本合同或要求乙方继续履行本合同；<br>
11.2.2	根据主播规则、触手币兑换规则等直播规则的约定，在不事先通知乙方的前提下，对乙方进行处罚，并要求乙方返还甲方根据本协议已支付的所有合作费用；<br>
11.2.3	乙方出现根本性违约行为，甲方有权要求乙方返还本协议4.3条  约定的乙方已使用的一次性签约权益；<br>
11.2.4	鉴于甲方及开迅公司投入大量的人力物力建立游戏直播平台给乙方从事游戏解说，乙方亦认可甲方及开迅公司的宣传推广是乙方迅速积攒人气的不可或缺的方式，双方一致同意，乙方根本性违约时，甲方有权要求乙方支付违约金，违约金以以下两种计算方式中较高者为准：(1)乙方年合作费用（已发生的月平均合作费用*12个月，具体构成详见本协议3.2条）的叁倍；(2)违约金人民币[叁佰万]元；<br>
11.2.5	上述违约金不足以弥补损失的，甲方有权继续向乙方追偿至弥补全部直接和间接损失，包括合同履行后的可得利益，以及甲方因乙方违约而向其他方支付的赔偿金、违约金等。<br>
11.2.6	要求乙方在甲方指定媒体公开向甲方和开迅公司道歉，乙方授权甲方或开迅公司向社会公开乙方的违约事项。<br>
11.2.7	本协议期限内，乙方有任何未经甲方或开迅公司允许私自参加线上或线下的游戏解说或与之相近的活动的，乙方因此所获得的收益，归甲方所有。<br>
11.3	乙方违反本协议第14条保密条款的，应额外向甲方支付违约金人民币壹佰万元整。违约金不足以补偿甲方实际损失的，乙方应向甲方赔偿甲方的实际损失。<br>
11.4	因乙方原因导致本协议提前终止，乙方除应按照第11.2条承担赔偿责任外，自本协议终止之日起[六]个月内，不得在与甲方及开迅公司经营相同或相似业务的任何公司、实体从事游戏解说或提供其他任何形式的游戏解说服务。乙方违反前述约定全部所得应归甲方所有；如难以证明乙方违反前述约定的全部所得的，则可以按照解约前乙方平均年合作费用的一半计算乙方的违约金。<br>
11.5	如甲方无正当理由未依约支付合作费用给乙方，乙方有权要求甲方按银行同期贷款利息计付给乙方。<br>
11.6	如乙方违反本协议第3.4条的约定未缴纳相关税费而致使甲方额外承担了任何税务责任的，乙方应足额赔偿甲方以使甲方不受损害。<br>
11.7	就任何乙方应向甲方支付的违约金或赔偿款，甲方均有权从尚未向乙方支付的款项中扣除。<br>

<b>12	法律适用与争议解决</b><br>
12.1	本协议之签署、效力、解释和执行以及本协议项下争议之解决均应适用中国法律。<br>
12.2	因本合同条文产生之争议，在不违反法律的强制规定基础上，应按照合同欲达之目的进行规范和解释，双方一致同意认同并遵守该规范及解释。<br>
12.3	对于因本协议的解释及执行而产生之争议，应由双方通过友好协商方式解决，协商不成的，则任一方有权向合同签订地的人民法院提起诉讼。<br>

<b>13	通知和送达</b><br>
双方共同确认：如下联系方式是有效的通知及沟通送达方式，合同一方的通知以如下任何一种方式向对方送达的，自对方收到之日之时，视为对方收到该通知，且双方均认可线上网络送达的方式与线下邮递送达的方式具备相同的法律效力，如果一旦涉及诉讼或仲裁，双方均认可下列电子邮箱、微信号、QQ号等作为有效的网络电子送达渠道和方式，法院或仲裁机构通过电子邮箱（QQ邮箱）、微信号、QQ号发送相关法律文书和诉讼（仲裁）材料的，视为相对方已经实际收到材料：<br>
甲方：上海视琰文化传媒有限公司<br>
联系地址：[上海市崇明区横沙乡富民支路58弄A1]<br>
电子邮箱：[legal@kascend.com ]<br>

乙方：_______________________<br>
身份证号码：_______________________<br>
联系地址：_______________________<br>
紧急联系人：_______________________<br>
联系地址：_______________________<br>
电话： _______________________<br>
电子邮箱：_______________________<br>
QQ号：_______________________<br>

<b>14	保密</b><br>
14.1 乙方同意遵守甲方的保密制度，对在履行本协议时获得的甲方商业秘密予以保密，保密期限为永久。<br>
14.2 未经甲方事先书面授权或同意，乙方不得以任何方式向第三方或不特定的公众进行传播、泄露甲方的商业秘密，或为非本合同的目的而使用甲方的商业秘密。<br>
14.3 本第14条所指的商业秘密是指由甲方提供的、或者乙方在履约期间了解到的、或者甲方对第三方承担保密义务的，与甲方业务有关的，能为甲方带来经济利益，具有实用性的、非公知的所有信息，包括(但不限于)：技术信息、合作费用等经营信息和与甲方行政管理有关的信息和文件(含本合同及相关协议内容)。<br>

<b>15	转让</b><br>
15.1 未经其他方事先的书面同意，任何一方均不可将本协议下的权利义务转让给第三方。<br>
15.2 尽管有前述规定，在事先书面通知乙方且不减少乙方物质利益的情况下，甲方有权将其在本协议项下的权利义务转让给开迅公司或开迅公司指定的主体，一旦乙方收到(无论通过电子邮件形式或是快递形式)开迅公司发出的形式和内容如本协议附件二所示的书面通知(“<b>转让通知</b>”)，即视为甲方已将其在本协议项下的权利义务转让给了转让通知所载明的受让方(“<b>受让方</b>”)。自乙方收到通知之日起，乙方应停止向甲方而应转为向受让方履行其在本协议项下的义务及行使其在本协议项下享有的权利；甲方无条件承认转让通知的效力，并同意不向乙方另行主张任何甲方原依据本协议可享有的权利。<br>

<b>16	附则</b><br>
16.1 本协议生效后，甲乙双方就履行本协议而达成的新的条款或者为完善本协议而签署新的附件，均属于本协议的有效组成部分，对于甲乙双方均具有约束力。<br>
16.2 本协议任何一方未行使或延迟行使本协议项下的一项权利并不作为对该项权利的放弃；任何单独一次或部分行使一项权利亦不排除将来对该项权利的其他行使。<br>
16.3 若本协议中一项或多项条款，根据任何适用的法律在任何一方面裁定为无效、不合法或不可执行，本协议其余条款的有效性、合法性和可执行性并不因此在任何方面受影响或受损害。双方应通过诚意磋商，争取以有效的条款取代那些无效、不合法或不可执行的条款，而该等有效的条款所产生的经济效果应尽可能与那些无效、不合法或不可执行的条款所产生的经济效果相似。<br>
16.4 甲、乙双方对本协议项下所有条款均认真、仔细阅读并完全理解，本协议不构成任何一方的格式合同。<br>

<p style="text-align: center">[以下无正文]
<p style="text-align: center"><b>附件一：乙方及紧急联系人信息</b></p><br>
附件一A：紧急联系人信息<br>
联系地址：_______________<br>
电话：________________<br>
与乙方关系：________________<br>
电子邮箱：________________	<br>
附件一B：乙方及其法定监护人（如适用）证件复印件<br>
<p style="text-align: center"><b>附件二：转让通知</b></p>
#end
##签约协议,带乙方信息
#macro(newContractAgreementWithInfo $contractDate $contractInfo $roomName $roomId)
<p>协议编号：</p>
<p>协议版本：V2.0</p>
<p>签约日期：<span class="info">$dateTool.format("yyyy年MM月dd日",${contractDate})</span></p>
<br>
<p>本《主播独家合作协议》(“本协议”)由以下双方在杭州市江干区签订：</p>
<br>
<p>甲方：<span class="info">上海视琰文化传媒有限公司</span></p>
<p>住所：<span class="info">上海市崇明区横沙乡富民支路58弄A1</span></p>
<p>办公地址：<span class="info">杭州市江干区凯旋支路18号1号楼</span></p>
<p>联系人：<span class="info">沈文良</span></p>
<br>
<p>乙方：<span class="info">$escapeTool.html(${contractInfo.realName})</span></p>
<p>证件号码：<span class="info">$escapeTool.html(${contractInfo.idCardNum})</span></p>
<p>住所：<span class="info">$escapeTool.html(${contractInfo.address})</span></p>
<p>联系电话：<span class="info">$escapeTool.html(${contractInfo.phone})</span></p>
<p>电子邮箱：<span class="info">$escapeTool.html(${contractInfo.mail})</span></p>
<br>
<p>甲方、乙方合称“双方”，任一方称为“一方”。</p>
<br>
<p>鉴于：</p>
<p>1) 甲方是一家综合性管理公司，与开迅公司(定义见下文)进行战略合作，为开迅公司介绍优秀主播提供游戏直播或解说服务；</p>
<p>2) 乙方为知名的游戏玩家，有能力担当游戏解说员；</p>
<p>3) 如甲方原已与乙方签署《游戏解说独家签约协议书》(“原协议”)且仍在合同有效期内的，则双方确认原协议在本协议生效时自行终止，原协议项下已产生的权利、义务及责任仍按原协议确认并延续至本协议有效期截止一并清算；</p>
<p>4) 为进一步明确双方权利义务，双方同意签署本协议，以对原协议项下的合作事项进行修订和重述，相关内容不一致的，以本协议为准；</p>
<br>
<p>双方经友好协商，签订如下合作协议：</p>
<p>1.定义</p>
<p>除本协议中另有约定，双方共同确认下列词语具有以下特定涵义：</p>
<p>1.1 “开迅公司”，指杭州开迅科技有限公司；</p>
<p>1.2 “触手平台”，指由开迅公司运营的在线游戏解说平台(www.chushou.tv; www.chushou.com; chushou.tv)、触手移动客户端及后续不时更新、修改的版本；</p>
<p>1.3 “游戏直播”或“解说”，指通过计算机软件或具录音功能的设备将解说员对游戏规则、游戏过程或游戏经验等的介绍、评论通过互联网进行实时同步播放的行为；</p>
<p>1.4 “游戏解说音频”，指通过计算机软件或具录音功能的设备将解说员对游戏规则、游戏过程或游戏经验等介绍、评论进行录制形成的音频文件；</p>
<p>1.5 “游戏解说视频”，指(1)在游戏过程中通过计算机软件或具有摄制功能的设备将游戏过程及解说员的解说过程进行录制保存所形成的视频文件；或(2)在已有游戏视频基础上后期加入游戏解说音频形成的视频文件；或(3)其他形式体现游戏解说内容的视频文件；</p>
<p>1.6 “协议游戏解说视频”，指本协议有效期内主播担任游戏解说员的游戏解说视频，无论该视频是否完成制作，是否向甲方交付。如甲方对本协议生效前主播担任游戏解说员的解说视频进行宣传推广的，则该视频自动成为该处约定的“协议游戏解说视频”；</p>
<p>1.7 “协议游戏解说音频”，指本协议有效期内由主播担任游戏解说员的游戏解说音频，无论该音频是否完成制作，是否向甲方交付。如甲方对本协议生效前主播担任游戏解说员的解说音频进行的宣传推广的，则该音频自动成为该处约定的“协议游戏解说音频”；</p>
<p>1.8 “<b>其他关联内容</b>”，指通过对在线直播活动进行上载、张贴、发送电子邮件或者任何其他方式传送的视频、音频或其他任何形式的衍生品，包括资讯、资料、文字、软件、音乐、音讯、照片、图形、信息或其他资料本身及相应链接；</p>
<p>1.9 “推广用名”，指主播的网络推广用名(<span class="info">$escapeTool.html(${roomName})</span>)(房间号：<span class="info">$escapeTool.html(${roomId})</span>)、真实姓名、笔名、网名、曾用名以及任何代表主播身份的文字符号；</p>
<p>1.10 “不可抗力及情势变更”，指在本协议期限内发生的不可预见(或者虽可预见，但其发生或后果不可避免)、非任何一方所能控制且使任何一方无法完全履行本协议内容的状况；</p>
<p>1.11 “直播平台直播规则”，在触手平台上发布的用户协议、主播规则、触手币兑换规则等以及上述文件不时修订的更新版本；</p>
<p>1.12 “<b>有效直播</b>”，指每日直播时长一小时以上；</p>
<br>
<p>2.合作内容及合作期限</p>
<p>2.1 甲方推荐乙方在触手平台进行游戏直播、并对乙方进行包装推广；乙方同意在触手平台进行游戏直播，并将其独家经纪代理权全权授予甲方。双方同意就上述事项达成独家合作。乙方保证并承诺在合作期限内不在其他平台提供直播或解说；</p>
<p>2.2 双方同意，本协议项下独家合作期限为___3___年，自<span class="info no-line">$dateTool.format("yyyy年MM月dd日",${contractDate})</span>起至<span class="info no-line">$dateTool.format("yyyy年MM月dd日",${contractEndDate})</span>止；</p>
<p>2.3 双方同意协议游戏解说视频、协议游戏解说音频、推广用名（不包括主播真实姓名）及其他关联内容的各项权利、权益(包括但不限于信息网络传播权、转授权等知识产权权利)归开迅公司所有，开迅公司有权在本协议期限内和期限届满后自行决定授权他人使用，无需征得甲方或乙方的同意；</p>
<p>2.4 根据乙方的实际情况，甲方可以对乙方及其游戏解说音频、游戏解说视频进行包装、推广。具体推广方式及条件由双方签署书面协议另行约定；</p>
<p>2.5 如乙方根据甲方、开迅公司或触手平台的推荐参加线上或线下的游戏解说或与之相近的活动的，所获得收益由甲方和乙方共同享有，具体条件及分成比例由双方另行协商；</p>
<p>2.6 双方同意并确认，乙方以推广用名在触手平台履行本协议项下义务应当遵守法律法规、直播平台用户协议、直播平台主播规则、触手币兑换规则及其他规范文件，乙方在触手平台之行为的法律后果由乙方承担；</p>
<p>2.7 双方确认：直播平台直播规则（1.11）可视为本协议的附件，甲方授权开迅行使本协议及相关平台直播规则中的相关权利，开迅依据直播平台直播规则对乙方实施的相应行为均视为由甲方实施，其行为结果由甲方承担；</p>
<p>2.8 乙方认同：甲方有权安排第三方对乙方代为履行义务，乙方应当受领；如发生前述事项的，乙方与该第三方之间不存在任何法律关系，其并非意味本合同主体的变更；</p>
<br>
<p>3.合作费用及支付方式</p>
<p>3.1 双方同意，本协议项下的合作费用(“合作费用”)包括基本合作费用(定义见下文)及履约奖励(定义见下文)，由甲方按月支付。甲方对合作费用及其计算方法拥有最终解释权，并且甲方有权根据乙方实际情况，对合作费用进行调整；</p>
<p>3.2 双方同意，在乙方按照本协议完全履行其约定义务且没有给甲方造成损失的情况下，甲方应按照如下条件及方式向乙方支付基本合作费用(“基本合作费用”)：</p>
<p>每月___300___元人民币(大写___叁佰圆___，含税，“当月基本合作费用”)。乙方在触手平台每月有效直播时间不低于___150___小时，每月有效直播天数不低于___25___天，每日排名不低于___/___名。如乙方未达到当月有效直播时间，则基本合作费用不予发放；如未达到有效直播天数，则每少一天，扣除一天单日基本合作费用；如某日未达到排名要求，则扣除当日的单日基本合作费用。(“单日基本合作费用”：当月基本合作费用÷当月有效直播天数)</p>
<p>3.3 双方同意，履约奖励包括乙方在触手平台的排名奖励(如有)、触手平台用户给予的打赏以及乙方在履行本协议过程中所获得的其它收益(如有)。双方确认，本协议项下的履约奖励  包括排名奖励。乙方同意并认可在履行本协议期间获得触手平台用户打赏，仅为网络虚拟计量工具，不等同于注册用户直接对乙方的财物赠与。但乙方可申请将上述网络虚拟财产提现并参与最终分配，具体分配方式由开迅公司和甲方决定。甲方与开迅公司结算完毕后，甲方有权扣除必要的成本、开支及利润再支付给乙方，实际金额具体以乙方收到为准；</p>
<p>3.4 甲方应于触手平台后台向乙方发出通知确认上一个月的有效直播天数、有效直播时间、每日排名情况及注册用户给予的打赏情况。乙方如有异议，应当在收到或应当收到该书面通知后三个工作日内通过书面方式提出，乙方逾期未提出异议的，视为乙方对上一个月的有效直播天数、有效直播时间、每日排名情况及注册用户给予的打赏情况无异议；</p>
<p>3.5 本协议项下除其他条款另有约定外，所有甲方应向乙方支付的款项均由甲方或甲方指定的第三方机构以汇款方式进行，在每月25 日（含）前将上一月的合作费用支付给乙方，乙方应当在收到合作费用后五个工作日内向甲方提供对应的有效、合法发票。乙方指定的收款账户信息如下：</p>
<p>开户名：<span class="info">$escapeTool.html(${bankCardName})</span></p>
<p>开户行：<span class="info">$escapeTool.html(${bankBranchName})</span></p>
<p>账号：<span class="info">$escapeTool.html(${bankCardNum})</span></p>
<p>如乙方变更收款信息，应提前30个工作日以书面方式通知甲方；</p>
<p>3.6 就获得的合作费用，乙方应自行依法纳税。因乙方未依法纳税产生的任何责任(包括行政责任)由乙方自行承担；</p>
<br>
<p>4.甲方的权利义务</p>
<p>4.1 为了宣传推广乙方及协议游戏解说视频、协议游戏解说音频，提高乙方的知名度，乙方不可撤销地独家授权甲方使用乙方的姓名、推广用名、肖像等代理乙方与游戏解说相关的经纪合作[包括但不限于：对乙方及乙方解说活动本身、载体等进行一定程度的宣传、包装和推广等（如以甲方认为的合理方式在各类媒体上向公众宣传乙方、提高乙方知名度）；进行协议游戏解说视频、协议游戏解说音频的发布、推广、营销活动；以乙方名义开通、维护微博、微信、博客、专栏等宣传通道；举办现场活动、游戏代言、参加游戏比赛等商业合作]，但以不损害乙方合法权益为前提；</p>
<p>乙方同意无条件参加或配合甲方（或甲方指定的第三方）安排的上述宣传推广或其他经纪活动。乙方承诺，同意与甲方推介的第三方签署独立的经纪协议或类似的协议（届时具体合作事项由乙方与第三方自行约定）。乙方承诺不与甲方或甲方推介的第三方之外的其他任何人开展宣传推广或经纪活动。乙方认可甲方、开迅公司的上述行为(如有)不构成对其姓名权、肖像权或其他人身权益的侵犯，不向甲方、开迅公司额外主张权利或要求支付任何费用；</p>
<p>甲方有权根据乙方的个人情况、履约能力和履约表现等因素，选择性决定不履行、单独履行或者全部履行上述合作内容，且该合作内容不构成对甲方的任何限定或义务的约束；</p>
<p>4.2 甲方有权要求乙方对其指定的游戏进行游戏直播或解说；</p>
<p>4.3 甲方有权根据需要更改本协议第2条所列合作事项，乙方应根据甲方的需求完成更改后的事项，但是甲方应提前向乙方告知更改的具体内容；</p>
<p>4.4 乙方签约后，为实现并推广乙方的直播，甲方将为乙方在触手平台提供相关一次性签约权益，具体权益项目及价格为；</p>
<p>a) 直播房间一间,价值拾伍万元；</p>
<p>b) 首页推荐随机展示位，价值拾万元；</p>
<p>c) 首页专区推荐随机展示位，价值拾万元；</p>
<p>d) 平台推荐位卡20张，每张叁仟元；</p>
<p>e) 海报制作资格，价值肆万元；</p>
<p>f) OBS（触手平台开发的并授权主播用于公开播放软件的串流码及服务器地址）使用资格，价值伍万元；</p>
<p>以上一次性签约权益的合计价值为伍拾万元。乙方可在获得上述权益后自行选择是否使用，如乙方未使用上述权益的，视为乙方放弃。如乙方使用的，则需遵守以下规则：</p>
<p>甲方会根据乙方的服务表现情况，为乙方在触手平台申请相应的渠道推广，具体的推广服务价格（该价格将会按照每季度15%的比例予以增长，具体价格以触手平台实际收取的为准）为：</p>
<p>a) 首页推荐位固定两小时展示，单次价值贰拾万元；</p>
<p>b) 公告推荐位展示，单次价值伍万元；</p>
<p>c) 活动、线下比赛期间曝光，单次价值贰拾万元起；</p>
<p>d) 触手平台自媒体曝光，单次价值伍万元起；</p>
<p>e) 线下粉丝见面会，单次价值拾万元起；</p>
<p>f) 甲方为推广乙方而向触手平台支付的其他费用；</p>
<p>以上宣传、推广、营销所用的一次性签约权益以及乙方享受的推广服务系由甲方向开迅公司采购取得后向乙方提供。乙方认同，如乙方全面履行本协议项下各项义务的，则视为甲方对乙方的赠与，乙方无需支付费用；如乙方提前解除本协议或有其他根本性违约行为的，则甲方有权按照本协议约定主张相应权利；</p>
<p>4.5 甲方对乙方投入的外部宣传、推广、营销费用包括但不限于以下种类(其具体费用价格以甲方实际支出的为准)：</p>
<p>(1) 通道维护费，如甲方为乙方维护微博、微信等宣传通道的各种维护行为；</p>
<p>(2) 粉丝贡献费：每增加一名粉丝（微博、微信或其他自媒体），甲方需要付出的费用；</p>
<p>(3) 推广宣传费：甲方为乙方提供宣传推广或经纪活动而发生或代垫的费用，该费用包括但不限于：赛事（活动）场地租赁费、组织费；明星代言或参赛费用、差旅费、化妆费等；</p>
<p>(4) 甲方为推广乙方而支付的其他费用；</p>
<p>4.6 双方同意，甲方有权监督、检查或委托开迅公司监督、检查乙方履行本协议项下之义务；</p>
<p>4.7 双方同意，本协议合作期限届满后，甲方拥有对乙方的优先续约权。在同等条件下，乙方须和甲方进行续约；</p>
<p>4.8 甲方应根据本协议的约定按时足额向乙方支付合作费用；</p>
<p>4.9 甲方有权在乙方出现违约或可能出现违约、不当行为的情况下（包括但不限于拒绝继续履行本协议、违反触手平台主播规则等相应规则、前往竞品平台、发表虚假言论、怂恿其他主播违约等），即时通知触手平台冻结、关闭乙方的账户，禁止乙方进行兑换、提现或采取其他措施，拒绝支付费用等各项措施。乙方的微信、微博或其他乙方媒介中显示的乙方违约言论、乙方实施违约或不当行为的信息等，均可作为甲方判断乙方违约并采取上述措施的依据；</p>
<br>
<p>5.乙方的权利义务</p>
<p>5.1 乙方依照协议约定和甲方具体要求全面履行义务后，有权要求甲方按照约定支付合作费用；</p>
<p>5.2 乙方应当向甲方提供真实、准确的个人信息及紧急联系人信息，并向甲方提供个人有效证件的复印件。如乙方或其紧急联系人的个人信息、联系方式发生变化，乙方应当提前事先书面告知甲方；</p>
<p>5.3 乙方应当依据本协议约定在触手平台进行游戏直播及解说；</p>
<p>5.4 未经甲方事先书面同意，乙方不得将其推广用名、肖像(包括真人肖像及卡通肖像等)授权第三方使用，不得将乙方个人或合作录制的游戏解说视频、游戏解说音频擅自发布或授权给触手平台之外的其他游戏解说平台使用；</p>
<p>5.5 协议游戏解说视频、协议游戏解说音频、推广用名（不包括主播真实姓名）及其他关联内容的各项权利、权益(包括但不限于信息网络传播权、转授权等知识产权权利)归开迅公司所有，未经开迅公司事先书面同意，乙方不得擅自使用或授权他人使用；</p>
<p>5.6 乙方应亲自履行本协议。未事先经过甲方的书面许可，乙方不得单方将本协议项下之义务交由第三人全部、部分代为或与第三人共同履行；</p>
<p>5.7 乙方同意，未经甲方事先书面许可，乙方不得为甲方指定范围以外的游戏进行解说，不得以非甲方认可的名义进行游戏直播，协议游戏解说视频和协议游戏解说音频中不得出现非甲方或开迅公司指定产品的介绍；</p>
<p>5.8 未经甲方事先书面同意，乙方不得以任何途径或任何方式在触手平台以外的其他网站、直播平台、企业或其它实体从事游戏直播、解说、推广、电商服务或其它类似行为；</p>
<p>5.9 在本协议有效期限内，未经甲方或开迅公司或触手平台事先书面同意，乙方不得参加任何形式的线上或者线下的解说活动、竞赛活动、互动活动或其他行为；</p>
<p>5.10 乙方应遵守国家法律法规，遵守公序良俗，保持良好社会形象，须为自身的言论和形象负责。乙方在向新闻媒体(包括但不限于报刊杂志、各类网站、微博、微信等媒体渠道)公布自身隐私、立场、观点或发表与协议游戏解说视频、协议游戏解说音频相关的言论时，必须事先征得甲方的书面同意。尽管有上述约定，双方确认，甲方的同意不视为甲方对解说员的言论负责，乙方若因自身言论和形象给甲方带来损失的，乙方应赔偿甲方的损失；</p>
<p>5.11 乙方已知晓、认同并承诺严格遵守触手平台上发布的相关直播规则（包括但不限于主播规则、触手币兑换规则等），乙方的登陆行为或者继续使用触手平台的行为，视为乙方对相关规则修订的认同，乙方应对相关规则及后续修订部分予以严格遵守；</p>
<p>5.12 乙方应积极维护甲方及开迅公司形象，不做出有损于甲方、开迅公司和触手平台的行为。乙方不得通过任何渠道(包括但不限于网站、博客、微博、微信、QQ 聊天群、玩家作者聚会等)发布不利于甲方及开迅公司、触手平台的言论；</p>
<p>5.13 双方确认，乙方违反上述条款约定的，均构成根本性违约，甲方有权解除本协议，并要求乙方按本协议约定承担相应责任；</p>
<br>
<p>6.声明、保证及承诺</p>
<p>6.1 甲方向乙方做出如下声明、保证及承诺：签署本协议前，甲方已与开迅公司达成战略合作伙伴关系，有权签署本协议，并有能力履行本协议；</p>
<p>6.2 乙方向甲方做出如下声明、保证及承诺：</p>
<p>6.2.1 签署本协议前，乙方已知悉与甲方的合作事项，充分了解甲方签约乙方的基本要求，并且乙方有条件及有能力签订本协议并完成本协议项下之约定义务；</p>
<p>6.2.2 乙方向甲方提供的个人信息、紧急联系人信息、个人证件复印件真实、准确和有效；</p>
<p>6.2.3 乙方保证，协议游戏解说视频、协议游戏解说音频未抄袭或剽窃第三方作品，不侵害任何第三方的合法权利(包括但不限于第三方的著作权等任何知识产权、名誉权、姓名权、肖像权等中国法律规定的相关权利)，不存在包括知识产权纠纷在内的任何法律纠纷，没有违反著作权法及其他有关中国法律的规定，不含有任何法律法规政策禁止和违反社会道德的内容。如违反前述保证产生的法律责任由乙方自行承担；</p>
<p>6.2.4 乙方承诺，乙方为甲方的独家签约主播，在签订本协议时，乙方不存在与其他任何游戏平台或经纪公司有未履行完毕的合约（与甲方签订的原协议除外）；</p>
<p>6.2.5 乙方承诺，其应亲自履行本协议项下的义务，保证本人真实直播，不挂录像视频、照片等，不消极直播；</p>
<p>6.2.6 乙方承诺，在本协议存续期间内，未经甲方事先书面许可，乙方不得同任何其他自然人、法人或者其他组织签订其他任何形式的经纪合同、电子商务开发或代理合同、演艺合同等任何与乙方工作性质相关或与娱乐行业相关的合同。也不得聘请任何第三方担任代理人或经纪人；</p>
<p>6.2.7 乙方承诺，在本协议签署前未参加任何电竞俱乐部或类似团体，且本协议存续期间内，在没有获得甲方的书面同意的情况下，不参加任何电竞俱乐部或类似团体；</p>
<p>6.2.8 双方确认，乙方违反上述声明、保证或承诺的，均构成根本性违约，甲方有权解除本协议，并要求乙方按本协议约定承担相应责任；</p>
<br>
<p>7.非劳动关系确认</p>
<p>7.1 双方共同确认：甲方与乙方在本协议项下仅为合作关系，甲方与乙方不形成劳动雇佣关系，乙方无权向甲方或开迅公司主张任何形式的劳动关系项下的权利；</p>
<br>
<p>8.未成年人特别条款</p>
<p>8.1 已满16周岁未满18周岁未成年人</p>
<p>如乙方订立本协议时已满16周岁未满18周岁，乙方向甲方确认，乙方以自己的劳动收入作为主要生活来源。乙方有能力理解并签署本协议。乙方已经阅读本协议（包括附件或补充协议，如有）并充分理解各条款之含义，同意遵守本协议、履行本协议项下义务，并愿意承担相应法律责任；</p>
<p>8.2 未满16周岁未成年人</p>
<p>8.2.1 如乙方订立本合同时未满16周岁，需向甲方提供乙方法定监护人的身份证明复印件、法定监护人关系证明、手机号码、联系方式等信息；</p>
<p>8.2.2 乙方及乙方法定监护人已经阅读本协议（包括附件或补充协议，如有）并充分理解各条款之含义，同意遵守本协议、履行本协议项下义务，并愿意承担相应法律责任；</p>
<br>
<p>9.协议的生效及变更</p>
<p>9.1 本协议自双方签字盖章之日生效。本协议期限届满前一个月内，若甲乙双方均无书面要求不续约的，则本协议期限自动延续一年；</p>
<p>9.2 经双方协商一致，双方可以签署书面协议修改本协议；</p>
<br>
<p>10.终止</p>
<p>10.1 在发生以下情形时，本协议终止：</p>
<p>10.1.1 本协议约定的合作期限届满且双方书面确认不续约；</p>
<p>10.1.2 双方协商一致同意终止本协议；</p>
<p>10.1.3 一方根据第10.2条提前终止本协议；</p>
<p>10.1.4 甲方有权提前10天以书面通知的方式终止本协议；</p>
<p>10.2 乙方发生以下情形时，甲方有权提前终止本协议：</p>
<p>10.2.1 甲方连续七天无法与乙方取得联系的；</p>
<p>10.2.2 乙方故意或因疏忽导致严重损害或违背对方利益或合理要求，致使不能实现合同目的；</p>
<p>10.2.3 乙方不能满足本协议第3.2条约定的，或乙方连续三个月不能达到直播人气要求的；</p>
<p>10.2.4 乙方违约（定义见下文）且未在补救期（定义见下文）内予以补救的；</p>
<p>10.2.5 由于乙方违约造成本协议不能全部或部分履行，或乙方违反本协议第5.4-5.12条及其他涉及根本性违约的约定；</p>
<p>10.2.6 乙方因牵涉本协议外的法律纠纷而严重影响本协议的履行，甲方有权终止协议；</p>
<p>10.3 双方同意并确认，因任何原因导致本协议中止、终止或解除的，不影响开迅公司对协议游戏解说视频、协议游戏解说音频、推广用名及其他关联内容享有的权利(包括但不限于信息网络传播权、转授权等知识产权权利)。未经开迅公司事先书面同意，乙方不得擅自或授权他人使用任何协议游戏解说视频、协议游戏解说音频、推广用名或其他关联内容；</p>
<p>10.4 尽管有任何相反规定，本协议中有关违约责任、法律适用和争议解决及保密的规定在本协议到期或终止后仍然继续有效；</p>
<br>
<p>11.违约责任</p>
<p>11.1 除本协议其它条款另有规定外，如果一方（“违约方”）未履行其在本协议项下任何一项义务或造成对本协议的其它违反（“违约”），包括但不限于乙方在本协议项下做出的任何声明、保证、承诺的内容不正确，或就其中任何条款出现违约，则对方（“守约方”）应有权：</p>
<p>11.1.1 向违约方发出书面通知，说明违约的性质以及范围，并且要求违约方在通知中规定的合理期限内（“补救期”）自费予以补救；</p>
<p>11.1.2 如果乙方违约且未在补救期内予以补救，则甲方有权单方面终止本协议，并就违约引起的损害根据本协议的规定要求乙方赔偿；如果甲方违约且未在补救期内予以补救，则乙方有权就违约引起的损害要求甲方赔偿；</p>
<p>11.1.3 因本协议纠纷之诉讼，由违约方承担守约方因此而支付的包括但不限于诉讼费、律师费、咨询费、取证费、公证费、执行费等相关费用；</p>
<p>11.2 由于乙方违约造成本协议不能全部或部分履行时，或乙方根本性违约，甲方有权选择以下一项或多项救济方式：</p>
<p>11.2.1 视情况单方面解除本合同或要求乙方继续履行本合同；</p>
<p>11.2.2 根据直播平台主播规则等相应规则的约定，在不事先通知乙方的前提下，对乙方进行处罚，视情节轻重给予直播停止、禁播主播账号、封号、扣除全部报酬、奖励等处罚，并要求乙方返还甲方根据本协议已支付的所有合作费用；</p>
<p>11.2.3 乙方出现根本性违约行为，甲方有权要求乙方返还本协议4.4条、4.5条约定的甲方已投入的所有一次性签约权益、宣传、推广、营销等合作费用；</p>
<p>11.2.4 乙方违反5.7、5.8、5.9条约定的，甲方有权单方没收乙方因该行为而获得的全部收入，并有权向乙方索赔甲方全部损失；</p>
<p>11.2.5 鉴于甲方及开迅公司投入大量的人力物力建立游戏直播平台给乙方从事游戏解说，乙方亦认可甲方及开迅公司的宣传推广及维护直播平台用户的高额投入是乙方迅速积攒人气的不可或缺的方式，双方一致同意，乙方出现根本性违约行为时，乙方应返还上述条款中约定的相应合作、宣传、营销、推广费用，且甲方仍有权要求乙方按照本条约定支付违约金，该违约金兼具补偿与惩罚双重目的，违约金以以下两种计算方式中较高者为准：(1)乙方年合作费用（已发生的月平均合作费用*12个月，具体构成详见本协议3.1条）的叁倍；(2)违约金人民币[伍佰万]元。双方再次确认该条款约定的违约金正是基于乙方明确知晓甲方对其的培养、推广投入了大量成本，故乙方对于其违约所应承担的法律后果和赔偿范围在本条款约定的违约金范围内是明知可预见的。甲、乙双方经过认真评估并审慎确定了协议中约定的乙方违约责任，乙方不得在协议签订后以任何理由或形式主张调低本协议约定的乙方违约责任，同时甲方有权采取包括但不限于向司法机关申请行为保全、财产保全等方式要求乙方立即停止违约行为；</p>
<p>11.2.6 上述违约金不足以弥补损失的，甲方有权继续向乙方追偿至弥补全部直接和间接损失，包括合同履行后的可得利益，以及因乙方违约导致甲方向其他方支付的赔偿金、违约金等；</p>
<p>11.2.7 要求乙方在甲方指定媒体公开向甲方和开迅公司道歉，乙方授权甲方或开迅公司向社会公开乙方的违约事项；</p>
<p>11.2.8 本协议期限内，乙方有任何未经甲方或开迅公司允许私自参加线上或线下的游戏解说或与之相近的活动的，乙方因此所获得的收益，归甲方所有；</p>
<p>11.3 乙方违反本协议第14条保密条款的，应额外向甲方支付违约金人民币壹佰万元整。违约金不足以补偿甲方实际损失的，乙方应向甲方赔偿甲方的实际损失；</p>
<p>11.4 因乙方原因导致本协议提前终止，乙方除应按照第11.2条承担赔偿责任外，自本协议终止之日起[六]个月内，不得在与甲方及开迅公司经营相同或相似业务的任何公司、实体从事游戏解说或提供其他任何形式的游戏解说服务。乙方违反前述约定全部所得应归甲方所有；如难以证明乙方违反前述约定的全部所得的，则可以按照解约前乙方平均年合作费用的一半计算乙方的违约金；</p>
<p>11.5 如甲方无正当理由未依约支付合作费用给乙方，乙方有权要求甲方按银行同期贷款基准利率计息给乙方；</p>
<p>11.6 如乙方违反本协议第3.6条的约定未缴纳相关税费而致使甲方额外承担了任何税务责任的，乙方应足额赔偿甲方以使甲方不受损害；</p>
<p>11.7 就任何乙方应向甲方支付的违约金或赔偿款，甲方均有权从尚未向乙方支付的款项中扣除；</p>
<p>11.8 本协议其他条款对违约责任如有约定的，相关约定与本条并行适用；</p>
<br>
<p>12.法律适用与争议解决</p>
<p>12.1 本协议之签署、效力、解释和执行以及本协议项下争议之解决均应适用中国法律；</p>
<p>12.2 因本合同条文产生之争议，在不违反法律的强制规定基础上，应按照合同欲达之目的进行规范和解释，双方一致同意认同并遵守该规范及解释；</p>
<p>12.3 对于因本协议的解释及执行而产生之争议，应由双方通过友好协商方式解决，协商不成的，则任一方有权向合同签订地的人民法院提起诉讼；</p>
<br>
<p>13.通知和送达</p>
<p>双方共同确认：如下联系方式是有效的通知及沟通送达方式，合同一方的通知以如下任何一种方式向对方送达的，自对方收到之日之时，视为对方收到该通知，且双方均认可线上网络送达的方式与线下邮递送达的方式具备相同的法律效力，如果一旦涉及诉讼或仲裁，双方均认可下列电子邮箱、微信号、QQ号等作为有效的网络电子送达渠道和方式，法院或仲裁机构通过电子邮箱（QQ邮箱）、微信号、QQ号发送相关法律文书和诉讼（仲裁）材料的，视为相对方已经实际收到材料：</p>
<p>甲方：_上海视琰文化传媒有限公司_</p>
<p>住所：_上海市崇明区横沙乡富民支路58弄A1</p>
<p>电子邮箱：[legal@kascend.com ]</p>
<br>
<p>乙方：<span class="info">$escapeTool.html(${contractInfo.realName})</span></p>
<p>身份证号码：<span class="info">$escapeTool.html(${contractInfo.idCardNum})</span></p>
<p>联系地址：<span class="info">$escapeTool.html(${contractInfo.address})</span></p>
<p>紧急联系人：<span class="info">$escapeTool.html(${contractInfo.emergencyName})</span></p>
<p>联系地址：<span class="info">$escapeTool.html(${contractInfo.emergencyAddress})</span></p>
<p>电话：<span class="info">$escapeTool.html(${contractInfo.emergencyPhone})</span></p>
<p>电子邮箱：<span class="info">$escapeTool.html(${contractInfo.emergencyMail})</span></p>
<p>QQ号：<span class="info">$escapeTool.html(${contractInfo.emergencyQq})</span></p>
<br>
<p>14.保密</p>
<p>14.1 乙方同意遵守甲方的保密制度，对在履行本协议时获得的甲方商业秘密予以保密，保密期限为永久；</p>
<p>14.2 未经甲方事先书面授权或同意，乙方不得以任何方式向第三方或不特定的公众进行传播、泄露甲方的商业秘密，或为非本合同的目的而使用甲方的商业秘密；</p>
<p>14.3 本第14条所指的商业秘密是指由甲方提供的、或者乙方在履约期间了解到的、或者甲方对第三方承担保密义务的，与甲方业务有关的，能为甲方带来经济利益，具有实用性的、非公知的所有信息，包括(但不限于)：技术信息、合作费用等经营信息和与甲方行政管理有关的信息和文件(含本合同及相关协议内容)；</p>
<br>
<p>15.转让</p>
<p>15.1 未经其他方事先的书面同意，任何一方均不可将本协议下的权利义务转让给第三方；</p>
<p>15.2 尽管有前述规定，在事先书面通知乙方且不减少乙方物质利益的情况下，甲方有权将其在本协议项下的权利义务转让给开迅公司或开迅公司指定的主体，一旦乙方收到(无论通过电子邮件形式或是快递形式)开迅公司发出的形式和内容如本协议附件二所示的书面通知(“转让通知”)，即视为甲方已将其在本协议项下的权利义务转让给了转让通知所载明的受让方(“受让方”)。自乙方收到通知之日起，乙方应停止向甲方而应转为向受让方履行其在本协议项下的义务及行使其在本协议项下享有的权利；甲方无条件承认转让通知的效力，并同意不向乙方另行主张任何甲方原依据本协议可享有的权利；</p>
<br>
<p>16.附则</p>
<p>16.1 本协议生效后，甲乙双方就履行本协议而达成的新的条款或者为完善本协议而签署新的附件，均属于本协议的有效组成部分，对于甲乙双方均具有约束力；</p>
<p>16.2 本协议任何一方未行使或延迟行使本协议项下的一项权利并不作为对该项权利的放弃；任何单独一次或部分行使一项权利亦不排除将来对该项权利的其他行使；</p>
<p>16.3 若本协议中一项或多项条款，根据任何适用的法律在任何一方面裁定为无效、不合法或不可执行，本协议其余条款的有效性、合法性和可执行性并不因此在任何方面受影响或受损害。双方应通过诚意磋商，争取以有效的条款取代那些无效、不合法或不可执行的条款，而该等有效的条款所产生的经济效果应尽可能与那些无效、不合法或不可执行的条款所产生的经济效果相似；</p>
<p>16.4 本协议构成双方就本次合作以及本协议中其他相关事项达成的完整协议，并取代双方此前关于本次合作以及本协议中其他相关事项所达成的任何协议、谅解备忘录、陈述或其他义务(无论以书面或口头形式，包括各类沟通形式)。如果本协议中的约定与此前双方或各有关方签署的协议、文件约定的内容不一致或冲突，双方同意以本协议的约定为准，并替代的此前的约定(包括原协议)。本协议生效之日起，原协议自动终止；</p>
<p>16.5 甲、乙双方对本协议项下所有条款均认真、仔细阅读并完全理解，且双方在签订本协议时对所有条款均作出了详细确认及明确提示说明，甲、乙双方共同确认本协议不构成任何一方的格式合同。甲、乙双方再次确认均应秉持契约精神全面履行本协议项下各自合同义务；</p>
<p>16.6 本协议自甲乙双方盖章或签字后生效；</p>
<br>
<p style="text-align:center;">[以下无正文]</p>
<br>
<p class="zhang-line">甲方：        (盖章)<img class="zhang-icon" src="${imagePrefix}/electronic_contract/zhang-icon.png"></p>
<br>
<p>乙方已经阅读并充分理解本协议条款之含义，同意签署并履行本协议。</p>
<br>
<p>乙方：________________(签字)</p>
<br>
<p>打指模：</p>
<br>
<p>如乙方未满16周岁，须由法定监护人签字。法定监护人已经阅读并充分理解本协议条款之含义，同意乙方签署并履行本协议。</p>
<br>
<p>乙方法定监护人：________________（签字)</p>
<br>
<p style="text-align:center;">附件一：乙方及紧急联系人信息</p>
<br>
<p>附件一A：紧急联系人信息</p>
<p>联系地址：   <span class="info">$escapeTool.html(${contractInfo.emergencyAddress})</span></p>
<p>电话：      <span class="info">$escapeTool.html(${contractInfo.emergencyPhone})</span></p>
<p>与乙方关系： <span class="info">$escapeTool.html(${contractInfo.relation})</span></p>
<p>电子邮箱：   <span class="info">$escapeTool.html(${contractInfo.emergencyMail})</span></p>
<br>
<p>附件一B：乙方及其法定监护人（如适用）证件复印件</p>
<br>
<p style="text-align:center;">附件二：转让通知</p>
#end
##新签约协议,不带乙方信息
#macro(newContractAgreementNoInfo)
<p class="right">协议编号：</p>
<p class="right">协议版本：V2.0</p>
<p class="right">签约日期：20   年__月__日</p>
<br>
<p>本《主播独家合作协议》(“本协议”)由以下双方在杭州市江干区签订：</p>
<br>
<p>甲方：_上海视琰文化传媒有限公司_</p>
<p>住所：_上海市崇明区横沙乡富民支路58弄A1</p>
<p>办公地址：杭州市江干区凯旋支路18号1号楼</p>
<p>联系人：___沈文良___</p>
<br>
<p>乙方：__________________</p>
<p>证件号码：__________________</p>
<p>住所：__________________</p>
<p>联系电话：__________________</p>
<p>电子邮箱：__________________</p>
<br>
<p>甲方、乙方合称“双方”，任一方称为“一方”。</p>
<br>
<p>鉴于：</p>
<p>1) 甲方是一家综合性管理公司，与开迅公司(定义见下文)进行战略合作，为开迅公司介绍优秀主播提供游戏直播或解说服务；</p>
<p>2) 乙方为知名的游戏玩家，有能力担当游戏解说员；</p>
<p>3) 如甲方原已与乙方签署《游戏解说独家签约协议书》(“原协议”)且仍在合同有效期内的，则双方确认原协议在本协议生效时自行终止，原协议项下已产生的权利、义务及责任仍按原协议确认并延续至本协议有效期截止一并清算；</p>
<p>4) 为进一步明确双方权利义务，双方同意签署本协议，以对原协议项下的合作事项进行修订和重述，相关内容不一致的，以本协议为准；</p>
<br>
<p>双方经友好协商，签订如下合作协议：</p>
<p>1.定义</p>
<p>除本协议中另有约定，双方共同确认下列词语具有以下特定涵义：</p>
<p>1.1 “开迅公司”，指杭州开迅科技有限公司；</p>
<p>1.2 “触手平台”，指由开迅公司运营的在线游戏解说平台(www.chushou.tv; www.chushou.com; chushou.tv)、触手移动客户端及后续不时更新、修改的版本；</p>
<p>1.3 “游戏直播”或“解说”，指通过计算机软件或具录音功能的设备将解说员对游戏规则、游戏过程或游戏经验等的介绍、评论通过互联网进行实时同步播放的行为；</p>
<p>1.4 “游戏解说音频”，指通过计算机软件或具录音功能的设备将解说员对游戏规则、游戏过程或游戏经验等介绍、评论进行录制形成的音频文件；</p>
<p>1.5 “游戏解说视频”，指(1)在游戏过程中通过计算机软件或具有摄制功能的设备将游戏过程及解说员的解说过程进行录制保存所形成的视频文件；或(2)在已有游戏视频基础上后期加入游戏解说音频形成的视频文件；或(3)其他形式体现游戏解说内容的视频文件；</p>
<p>1.6 “协议游戏解说视频”，指本协议有效期内主播担任游戏解说员的游戏解说视频，无论该视频是否完成制作，是否向甲方交付。如甲方对本协议生效前主播担任游戏解说员的解说视频进行宣传推广的，则该视频自动成为该处约定的“协议游戏解说视频”；</p>
<p>1.7 “协议游戏解说音频”，指本协议有效期内由主播担任游戏解说员的游戏解说音频，无论该音频是否完成制作，是否向甲方交付。如甲方对本协议生效前主播担任游戏解说员的解说音频进行的宣传推广的，则该音频自动成为该处约定的“协议游戏解说音频”；</p>
<p>1.8 “<b>其他关联内容</b>”，指通过对在线直播活动进行上载、张贴、发送电子邮件或者任何其他方式传送的视频、音频或其他任何形式的衍生品，包括资讯、资料、文字、软件、音乐、音讯、照片、图形、信息或其他资料本身及相应链接；</p>
<p>1.9 “推广用名”，指主播的网络推广用名(______)(房间号：______)、真实姓名、笔名、网名、曾用名以及任何代表主播身份的文字符号；</p>
<p>1.10 “不可抗力及情势变更”，指在本协议期限内发生的不可预见(或者虽可预见，但其发生或后果不可避免)、非任何一方所能控制且使任何一方无法完全履行本协议内容的状况；</p>
<p>1.11 “直播平台直播规则”，在触手平台上发布的用户协议、主播规则、触手币兑换规则等以及上述文件不时修订的更新版本；</p>
<p>1.12 “<b>有效直播</b>”，指每日直播时长一小时以上；</p>
<br>
<p>2.合作内容及合作期限</p>
<p>2.1 甲方推荐乙方在触手平台进行游戏直播、并对乙方进行包装推广；乙方同意在触手平台进行游戏直播，并将其独家经纪代理权全权授予甲方。双方同意就上述事项达成独家合作。乙方保证并承诺在合作期限内不在其他平台提供直播或解说；</p>
<p>2.2 双方同意，本协议项下独家合作期限为______年，自_____年_____月_____日起至_____年_____月_____日止；</p>
<p>2.3 双方同意协议游戏解说视频、协议游戏解说音频、推广用名（不包括主播真实姓名）及其他关联内容的各项权利、权益(包括但不限于信息网络传播权、转授权等知识产权权利)归开迅公司所有，开迅公司有权在本协议期限内和期限届满后自行决定授权他人使用，无需征得甲方或乙方的同意；</p>
<p>2.4 根据乙方的实际情况，甲方可以对乙方及其游戏解说音频、游戏解说视频进行包装、推广。具体推广方式及条件由双方签署书面协议另行约定；</p>
<p>2.5 如乙方根据甲方、开迅公司或触手平台的推荐参加线上或线下的游戏解说或与之相近的活动的，所获得收益由甲方和乙方共同享有，具体条件及分成比例由双方另行协商；</p>
<p>2.6 双方同意并确认，乙方以推广用名在触手平台履行本协议项下义务应当遵守法律法规、直播平台用户协议、直播平台主播规则、触手币兑换规则及其他规范文件，乙方在触手平台之行为的法律后果由乙方承担；</p>
<p>2.7 双方确认：直播平台直播规则（1.11）可视为本协议的附件，甲方授权开迅行使本协议及相关平台直播规则中的相关权利，开迅依据直播平台直播规则对乙方实施的相应行为均视为由甲方实施，其行为结果由甲方承担；</p>
<p>2.8 乙方认同：甲方有权安排第三方对乙方代为履行义务，乙方应当受领；如发生前述事项的，乙方与该第三方之间不存在任何法律关系，其并非意味本合同主体的变更；</p>
<br>
<p>3.合作费用及支付方式</p>
<p>3.1 双方同意，本协议项下的合作费用(“合作费用”)包括基本合作费用(定义见下文)及履约奖励(定义见下文)，由甲方按月支付。甲方对合作费用及其计算方法拥有最终解释权，并且甲方有权根据乙方实际情况，对合作费用进行调整；</p>
<p>3.2 双方同意，在乙方按照本协议完全履行其约定义务且没有给甲方造成损失的情况下，甲方应按照如下条件及方式向乙方支付基本合作费用(“基本合作费用”)：</p>
<p>每月______元人民币(大写______，含税，“当月基本合作费用”)。乙方在触手平台每月有效直播时间不低于______小时，每月有效直播天数不低于______天，每日排名不低于______名。如乙方未达到当月有效直播时间，则基本合作费用不予发放；如未达到有效直播天数，则每少一天，扣除一天单日基本合作费用；如某日未达到排名要求，则扣除当日的单日基本合作费用。(“单日基本合作费用”：当月基本合作费用÷当月有效直播天数)</p>
<p>3.3 双方同意，履约奖励包括乙方在触手平台的排名奖励(如有)、触手平台用户给予的打赏以及乙方在履行本协议过程中所获得的其它收益(如有)。双方确认，本协议项下的履约奖励  包括排名奖励。乙方同意并认可在履行本协议期间获得触手平台用户打赏，仅为网络虚拟计量工具，不等同于注册用户直接对乙方的财物赠与。但乙方可申请将上述网络虚拟财产提现并参与最终分配，具体分配方式由开迅公司和甲方决定。甲方与开迅公司结算完毕后，甲方有权扣除必要的成本、开支及利润再支付给乙方，实际金额具体以乙方收到为准；</p>
<p>3.4 甲方应于触手平台后台向乙方发出通知确认上一个月的有效直播天数、有效直播时间、每日排名情况及注册用户给予的打赏情况。乙方如有异议，应当在收到或应当收到该书面通知后三个工作日内通过书面方式提出，乙方逾期未提出异议的，视为乙方对上一个月的有效直播天数、有效直播时间、每日排名情况及注册用户给予的打赏情况无异议；</p>
<p>3.5 本协议项下除其他条款另有约定外，所有甲方应向乙方支付的款项均由甲方或甲方指定的第三方机构以汇款方式进行，在每月25 日（含）前将上一月的合作费用支付给乙方，乙方应当在收到合作费用后五个工作日内向甲方提供对应的有效、合法发票。乙方指定的收款账户信息如下：</p>
<p>开户名：</p>
<p>开户行：</p>
<p>账号：</p>
<p>如乙方变更收款信息，应提前30个工作日以书面方式通知甲方；</p>
<p>3.6 就获得的合作费用，乙方应自行依法纳税。因乙方未依法纳税产生的任何责任(包括行政责任)由乙方自行承担；</p>
<br>
<p>4.甲方的权利义务</p>
<p>4.1 为了宣传推广乙方及协议游戏解说视频、协议游戏解说音频，提高乙方的知名度，乙方不可撤销地独家授权甲方使用乙方的姓名、推广用名、肖像等代理乙方与游戏解说相关的经纪合作[包括但不限于：对乙方及乙方解说活动本身、载体等进行一定程度的宣传、包装和推广等（如以甲方认为的合理方式在各类媒体上向公众宣传乙方、提高乙方知名度）；进行协议游戏解说视频、协议游戏解说音频的发布、推广、营销活动；以乙方名义开通、维护微博、微信、博客、专栏等宣传通道；举办现场活动、游戏代言、参加游戏比赛等商业合作]，但以不损害乙方合法权益为前提；</p>
<p>乙方同意无条件参加或配合甲方（或甲方指定的第三方）安排的上述宣传推广或其他经纪活动。乙方承诺，同意与甲方推介的第三方签署独立的经纪协议或类似的协议（届时具体合作事项由乙方与第三方自行约定）。乙方承诺不与甲方或甲方推介的第三方之外的其他任何人开展宣传推广或经纪活动。乙方认可甲方、开迅公司的上述行为(如有)不构成对其姓名权、肖像权或其他人身权益的侵犯，不向甲方、开迅公司额外主张权利或要求支付任何费用；</p>
<p>甲方有权根据乙方的个人情况、履约能力和履约表现等因素，选择性决定不履行、单独履行或者全部履行上述合作内容，且该合作内容不构成对甲方的任何限定或义务的约束；</p>
<p>4.2 甲方有权要求乙方对其指定的游戏进行游戏直播或解说；</p>
<p>4.3 甲方有权根据需要更改本协议第2条所列合作事项，乙方应根据甲方的需求完成更改后的事项，但是甲方应提前向乙方告知更改的具体内容；</p>
<p>4.4 乙方签约后，为实现并推广乙方的直播，甲方将为乙方在触手平台提供相关一次性签约权益，具体权益项目及价格为；</p>
<p>a) 直播房间一间,价值拾伍万元；</p>
<p>b) 首页推荐随机展示位，价值拾万元；</p>
<p>c) 首页专区推荐随机展示位，价值拾万元；</p>
<p>d) 平台推荐位卡20张，每张叁仟元；</p>
<p>e) 海报制作资格，价值肆万元；</p>
<p>f) OBS（触手平台开发的并授权主播用于公开播放软件的串流码及服务器地址）使用资格，价值伍万元；</p>
<p>以上一次性签约权益的合计价值为伍拾万元。乙方可在获得上述权益后自行选择是否使用，如乙方未使用上述权益的，视为乙方放弃。如乙方使用的，则需遵守以下规则：</p>
<p>甲方会根据乙方的服务表现情况，为乙方在触手平台申请相应的渠道推广，具体的推广服务价格（该价格将会按照每季度15%的比例予以增长，具体价格以触手平台实际收取的为准）为：</p>
<p>a) 首页推荐位固定两小时展示，单次价值贰拾万元；</p>
<p>b) 公告推荐位展示，单次价值伍万元；</p>
<p>c) 活动、线下比赛期间曝光，单次价值贰拾万元起；</p>
<p>d) 触手平台自媒体曝光，单次价值伍万元起；</p>
<p>e) 线下粉丝见面会，单次价值拾万元起；</p>
<p>f) 甲方为推广乙方而向触手平台支付的其他费用；</p>
<p>以上宣传、推广、营销所用的一次性签约权益以及乙方享受的推广服务系由甲方向开迅公司采购取得后向乙方提供。乙方认同，如乙方全面履行本协议项下各项义务的，则视为甲方对乙方的赠与，乙方无需支付费用；如乙方提前解除本协议或有其他根本性违约行为的，则甲方有权按照本协议约定主张相应权利；</p>
<p>4.5 甲方对乙方投入的外部宣传、推广、营销费用包括但不限于以下种类(其具体费用价格以甲方实际支出的为准)：</p>
<p>(1) 通道维护费，如甲方为乙方维护微博、微信等宣传通道的各种维护行为；</p>
<p>(2) 粉丝贡献费：每增加一名粉丝（微博、微信或其他自媒体），甲方需要付出的费用；</p>
<p>(3) 推广宣传费：甲方为乙方提供宣传推广或经纪活动而发生或代垫的费用，该费用包括但不限于：赛事（活动）场地租赁费、组织费；明星代言或参赛费用、差旅费、化妆费等；</p>
<p>(4) 甲方为推广乙方而支付的其他费用；</p>
<p>4.6 双方同意，甲方有权监督、检查或委托开迅公司监督、检查乙方履行本协议项下之义务；</p>
<p>4.7 双方同意，本协议合作期限届满后，甲方拥有对乙方的优先续约权。在同等条件下，乙方须和甲方进行续约；</p>
<p>4.8 甲方应根据本协议的约定按时足额向乙方支付合作费用；</p>
<p>4.9 甲方有权在乙方出现违约或可能出现违约、不当行为的情况下（包括但不限于拒绝继续履行本协议、违反触手平台主播规则等相应规则、前往竞品平台、发表虚假言论、怂恿其他主播违约等），即时通知触手平台冻结、关闭乙方的账户，禁止乙方进行兑换、提现或采取其他措施，拒绝支付费用等各项措施。乙方的微信、微博或其他乙方媒介中显示的乙方违约言论、乙方实施违约或不当行为的信息等，均可作为甲方判断乙方违约并采取上述措施的依据；</p>
<br>
<p>5.乙方的权利义务</p>
<p>5.1 乙方依照协议约定和甲方具体要求全面履行义务后，有权要求甲方按照约定支付合作费用；</p>
<p>5.2 乙方应当向甲方提供真实、准确的个人信息及紧急联系人信息，并向甲方提供个人有效证件的复印件。如乙方或其紧急联系人的个人信息、联系方式发生变化，乙方应当提前事先书面告知甲方；</p>
<p>5.3 乙方应当依据本协议约定在触手平台进行游戏直播及解说；</p>
<p>5.4 未经甲方事先书面同意，乙方不得将其推广用名、肖像(包括真人肖像及卡通肖像等)授权第三方使用，不得将乙方个人或合作录制的游戏解说视频、游戏解说音频擅自发布或授权给触手平台之外的其他游戏解说平台使用；</p>
<p>5.5 协议游戏解说视频、协议游戏解说音频、推广用名（不包括主播真实姓名）及其他关联内容的各项权利、权益(包括但不限于信息网络传播权、转授权等知识产权权利)归开迅公司所有，未经开迅公司事先书面同意，乙方不得擅自使用或授权他人使用；</p>
<p>5.6 乙方应亲自履行本协议。未事先经过甲方的书面许可，乙方不得单方将本协议项下之义务交由第三人全部、部分代为或与第三人共同履行；</p>
<p>5.7 乙方同意，未经甲方事先书面许可，乙方不得为甲方指定范围以外的游戏进行解说，不得以非甲方认可的名义进行游戏直播，协议游戏解说视频和协议游戏解说音频中不得出现非甲方或开迅公司指定产品的介绍；</p>
<p>5.8 未经甲方事先书面同意，乙方不得以任何途径或任何方式在触手平台以外的其他网站、直播平台、企业或其它实体从事游戏直播、解说、推广、电商服务或其它类似行为；</p>
<p>5.9 在本协议有效期限内，未经甲方或开迅公司或触手平台事先书面同意，乙方不得参加任何形式的线上或者线下的解说活动、竞赛活动、互动活动或其他行为；</p>
<p>5.10 乙方应遵守国家法律法规，遵守公序良俗，保持良好社会形象，须为自身的言论和形象负责。乙方在向新闻媒体(包括但不限于报刊杂志、各类网站、微博、微信等媒体渠道)公布自身隐私、立场、观点或发表与协议游戏解说视频、协议游戏解说音频相关的言论时，必须事先征得甲方的书面同意。尽管有上述约定，双方确认，甲方的同意不视为甲方对解说员的言论负责，乙方若因自身言论和形象给甲方带来损失的，乙方应赔偿甲方的损失；</p>
<p>5.11 乙方已知晓、认同并承诺严格遵守触手平台上发布的相关直播规则（包括但不限于主播规则、触手币兑换规则等），乙方的登陆行为或者继续使用触手平台的行为，视为乙方对相关规则修订的认同，乙方应对相关规则及后续修订部分予以严格遵守；</p>
<p>5.12 乙方应积极维护甲方及开迅公司形象，不做出有损于甲方、开迅公司和触手平台的行为。乙方不得通过任何渠道(包括但不限于网站、博客、微博、微信、QQ 聊天群、玩家作者聚会等)发布不利于甲方及开迅公司、触手平台的言论；</p>
<p>5.13 双方确认，乙方违反上述条款约定的，均构成根本性违约，甲方有权解除本协议，并要求乙方按本协议约定承担相应责任；</p>
<br>
<p>6.声明、保证及承诺</p>
<p>6.1 甲方向乙方做出如下声明、保证及承诺：签署本协议前，甲方已与开迅公司达成战略合作伙伴关系，有权签署本协议，并有能力履行本协议；</p>
<p>6.2 乙方向甲方做出如下声明、保证及承诺：</p>
<p>6.2.1 签署本协议前，乙方已知悉与甲方的合作事项，充分了解甲方签约乙方的基本要求，并且乙方有条件及有能力签订本协议并完成本协议项下之约定义务；</p>
<p>6.2.2 乙方向甲方提供的个人信息、紧急联系人信息、个人证件复印件真实、准确和有效；</p>
<p>6.2.3 乙方保证，协议游戏解说视频、协议游戏解说音频未抄袭或剽窃第三方作品，不侵害任何第三方的合法权利(包括但不限于第三方的著作权等任何知识产权、名誉权、姓名权、肖像权等中国法律规定的相关权利)，不存在包括知识产权纠纷在内的任何法律纠纷，没有违反著作权法及其他有关中国法律的规定，不含有任何法律法规政策禁止和违反社会道德的内容。如违反前述保证产生的法律责任由乙方自行承担；</p>
<p>6.2.4 乙方承诺，乙方为甲方的独家签约主播，在签订本协议时，乙方不存在与其他任何游戏平台或经纪公司有未履行完毕的合约（与甲方签订的原协议除外）；</p>
<p>6.2.5 乙方承诺，其应亲自履行本协议项下的义务，保证本人真实直播，不挂录像视频、照片等，不消极直播；</p>
<p>6.2.6 乙方承诺，在本协议存续期间内，未经甲方事先书面许可，乙方不得同任何其他自然人、法人或者其他组织签订其他任何形式的经纪合同、电子商务开发或代理合同、演艺合同等任何与乙方工作性质相关或与娱乐行业相关的合同。也不得聘请任何第三方担任代理人或经纪人；</p>
<p>6.2.7 乙方承诺，在本协议签署前未参加任何电竞俱乐部或类似团体，且本协议存续期间内，在没有获得甲方的书面同意的情况下，不参加任何电竞俱乐部或类似团体；</p>
<p>6.2.8 双方确认，乙方违反上述声明、保证或承诺的，均构成根本性违约，甲方有权解除本协议，并要求乙方按本协议约定承担相应责任；</p>
<br>
<p>7.非劳动关系确认</p>
<p>7.1 双方共同确认：甲方与乙方在本协议项下仅为合作关系，甲方与乙方不形成劳动雇佣关系，乙方无权向甲方或开迅公司主张任何形式的劳动关系项下的权利；</p>
<br>
<p>8.未成年人特别条款</p>
<p>8.1 已满16周岁未满18周岁未成年人</p>
<p>如乙方订立本协议时已满16周岁未满18周岁，乙方向甲方确认，乙方以自己的劳动收入作为主要生活来源。乙方有能力理解并签署本协议。乙方已经阅读本协议（包括附件或补充协议，如有）并充分理解各条款之含义，同意遵守本协议、履行本协议项下义务，并愿意承担相应法律责任；</p>
<p>8.2 未满16周岁未成年人</p>
<p>8.2.1 如乙方订立本合同时未满16周岁，需向甲方提供乙方法定监护人的身份证明复印件、法定监护人关系证明、手机号码、联系方式等信息；</p>
<p>8.2.2 乙方及乙方法定监护人已经阅读本协议（包括附件或补充协议，如有）并充分理解各条款之含义，同意遵守本协议、履行本协议项下义务，并愿意承担相应法律责任；</p>
<br>
<p>9.协议的生效及变更</p>
<p>9.1 本协议自双方签字盖章之日生效。本协议期限届满前一个月内，若甲乙双方均无书面要求不续约的，则本协议期限自动延续一年；</p>
<p>9.2 经双方协商一致，双方可以签署书面协议修改本协议；</p>
<br>
<p>10.终止</p>
<p>10.1 在发生以下情形时，本协议终止：</p>
<p>10.1.1 本协议约定的合作期限届满且双方书面确认不续约；</p>
<p>10.1.2 双方协商一致同意终止本协议；</p>
<p>10.1.3 一方根据第10.2条提前终止本协议；</p>
<p>10.1.4 甲方有权提前10天以书面通知的方式终止本协议；</p>
<p>10.2 乙方发生以下情形时，甲方有权提前终止本协议：</p>
<p>10.2.1 甲方连续七天无法与乙方取得联系的；</p>
<p>10.2.2 乙方故意或因疏忽导致严重损害或违背对方利益或合理要求，致使不能实现合同目的；</p>
<p>10.2.3 乙方不能满足本协议第3.2条约定的，或乙方连续三个月不能达到直播人气要求的；</p>
<p>10.2.4 乙方违约（定义见下文）且未在补救期（定义见下文）内予以补救的；</p>
<p>10.2.5 由于乙方违约造成本协议不能全部或部分履行，或乙方违反本协议第5.4-5.12条及其他涉及根本性违约的约定；</p>
<p>10.2.6 乙方因牵涉本协议外的法律纠纷而严重影响本协议的履行，甲方有权终止协议；</p>
<p>10.3 双方同意并确认，因任何原因导致本协议中止、终止或解除的，不影响开迅公司对协议游戏解说视频、协议游戏解说音频、推广用名及其他关联内容享有的权利(包括但不限于信息网络传播权、转授权等知识产权权利)。未经开迅公司事先书面同意，乙方不得擅自或授权他人使用任何协议游戏解说视频、协议游戏解说音频、推广用名或其他关联内容；</p>
<p>10.4 尽管有任何相反规定，本协议中有关违约责任、法律适用和争议解决及保密的规定在本协议到期或终止后仍然继续有效；</p>
<br>
<p>11.违约责任</p>
<p>11.1 除本协议其它条款另有规定外，如果一方（“违约方”）未履行其在本协议项下任何一项义务或造成对本协议的其它违反（“违约”），包括但不限于乙方在本协议项下做出的任何声明、保证、承诺的内容不正确，或就其中任何条款出现违约，则对方（“守约方”）应有权：</p>
<p>11.1.1 向违约方发出书面通知，说明违约的性质以及范围，并且要求违约方在通知中规定的合理期限内（“补救期”）自费予以补救；</p>
<p>11.1.2 如果乙方违约且未在补救期内予以补救，则甲方有权单方面终止本协议，并就违约引起的损害根据本协议的规定要求乙方赔偿；如果甲方违约且未在补救期内予以补救，则乙方有权就违约引起的损害要求甲方赔偿；</p>
<p>11.1.3 因本协议纠纷之诉讼，由违约方承担守约方因此而支付的包括但不限于诉讼费、律师费、咨询费、取证费、公证费、执行费等相关费用；</p>
<p>11.2 由于乙方违约造成本协议不能全部或部分履行时，或乙方根本性违约，甲方有权选择以下一项或多项救济方式：</p>
<p>11.2.1 视情况单方面解除本合同或要求乙方继续履行本合同；</p>
<p>11.2.2 根据直播平台主播规则等相应规则的约定，在不事先通知乙方的前提下，对乙方进行处罚，视情节轻重给予直播停止、禁播主播账号、封号、扣除全部报酬、奖励等处罚，并要求乙方返还甲方根据本协议已支付的所有合作费用；</p>
<p>11.2.3 乙方出现根本性违约行为，甲方有权要求乙方返还本协议4.4条、4.5条约定的甲方已投入的所有一次性签约权益、宣传、推广、营销等合作费用；</p>
<p>11.2.4 乙方违反5.7、5.8、5.9条约定的，甲方有权单方没收乙方因该行为而获得的全部收入，并有权向乙方索赔甲方全部损失；</p>
<p>11.2.5 鉴于甲方及开迅公司投入大量的人力物力建立游戏直播平台给乙方从事游戏解说，乙方亦认可甲方及开迅公司的宣传推广及维护直播平台用户的高额投入是乙方迅速积攒人气的不可或缺的方式，双方一致同意，乙方出现根本性违约行为时，乙方应返还上述条款中约定的相应合作、宣传、营销、推广费用，且甲方仍有权要求乙方按照本条约定支付违约金，该违约金兼具补偿与惩罚双重目的，违约金以以下两种计算方式中较高者为准：(1)乙方年合作费用（已发生的月平均合作费用*12个月，具体构成详见本协议3.1条）的叁倍；(2)违约金人民币[伍佰万]元。双方再次确认该条款约定的违约金正是基于乙方明确知晓甲方对其的培养、推广投入了大量成本，故乙方对于其违约所应承担的法律后果和赔偿范围在本条款约定的违约金范围内是明知可预见的。甲、乙双方经过认真评估并审慎确定了协议中约定的乙方违约责任，乙方不得在协议签订后以任何理由或形式主张调低本协议约定的乙方违约责任，同时甲方有权采取包括但不限于向司法机关申请行为保全、财产保全等方式要求乙方立即停止违约行为；</p>
<p>11.2.6 上述违约金不足以弥补损失的，甲方有权继续向乙方追偿至弥补全部直接和间接损失，包括合同履行后的可得利益，以及因乙方违约导致甲方向其他方支付的赔偿金、违约金等；</p>
<p>11.2.7 要求乙方在甲方指定媒体公开向甲方和开迅公司道歉，乙方授权甲方或开迅公司向社会公开乙方的违约事项；</p>
<p>11.2.8 本协议期限内，乙方有任何未经甲方或开迅公司允许私自参加线上或线下的游戏解说或与之相近的活动的，乙方因此所获得的收益，归甲方所有；</p>
<p>11.3 乙方违反本协议第14条保密条款的，应额外向甲方支付违约金人民币壹佰万元整。违约金不足以补偿甲方实际损失的，乙方应向甲方赔偿甲方的实际损失；</p>
<p>11.4 因乙方原因导致本协议提前终止，乙方除应按照第11.2条承担赔偿责任外，自本协议终止之日起[六]个月内，不得在与甲方及开迅公司经营相同或相似业务的任何公司、实体从事游戏解说或提供其他任何形式的游戏解说服务。乙方违反前述约定全部所得应归甲方所有；如难以证明乙方违反前述约定的全部所得的，则可以按照解约前乙方平均年合作费用的一半计算乙方的违约金；</p>
<p>11.5 如甲方无正当理由未依约支付合作费用给乙方，乙方有权要求甲方按银行同期贷款基准利率计息给乙方；</p>
<p>11.6 如乙方违反本协议第3.6条的约定未缴纳相关税费而致使甲方额外承担了任何税务责任的，乙方应足额赔偿甲方以使甲方不受损害；</p>
<p>11.7 就任何乙方应向甲方支付的违约金或赔偿款，甲方均有权从尚未向乙方支付的款项中扣除；</p>
<p>11.8 本协议其他条款对违约责任如有约定的，相关约定与本条并行适用；</p>
<br>
<p>12.法律适用与争议解决</p>
<p>12.1 本协议之签署、效力、解释和执行以及本协议项下争议之解决均应适用中国法律；</p>
<p>12.2 因本合同条文产生之争议，在不违反法律的强制规定基础上，应按照合同欲达之目的进行规范和解释，双方一致同意认同并遵守该规范及解释；</p>
<p>12.3 对于因本协议的解释及执行而产生之争议，应由双方通过友好协商方式解决，协商不成的，则任一方有权向合同签订地的人民法院提起诉讼；</p>
<br>
<p>13.通知和送达</p>
<p>双方共同确认：如下联系方式是有效的通知及沟通送达方式，合同一方的通知以如下任何一种方式向对方送达的，自对方收到之日之时，视为对方收到该通知，且双方均认可线上网络送达的方式与线下邮递送达的方式具备相同的法律效力，如果一旦涉及诉讼或仲裁，双方均认可下列电子邮箱、微信号、QQ号等作为有效的网络电子送达渠道和方式，法院或仲裁机构通过电子邮箱（QQ邮箱）、微信号、QQ号发送相关法律文书和诉讼（仲裁）材料的，视为相对方已经实际收到材料：</p>
<p>甲方：_上海视琰文化传媒有限公司_</p>
<p>住所：_上海市崇明区横沙乡富民支路58弄A1</p>
<p>电子邮箱：[legal@kascend.com ]</p>
<br>
<p>乙方：__________________</p>
<p>身份证号码：__________________</p>
<p>联系地址：__________________</p>
<p>紧急联系人：__________________</p>
<p>联系地址：__________________</p>
<p>电话：__________________</p>
<p>电子邮箱：__________________</p>
<p>QQ号：__________________</p>
<br>
<p>14.保密</p>
<p>14.1 乙方同意遵守甲方的保密制度，对在履行本协议时获得的甲方商业秘密予以保密，保密期限为永久；</p>
<p>14.2 未经甲方事先书面授权或同意，乙方不得以任何方式向第三方或不特定的公众进行传播、泄露甲方的商业秘密，或为非本合同的目的而使用甲方的商业秘密；</p>
<p>14.3 本第14条所指的商业秘密是指由甲方提供的、或者乙方在履约期间了解到的、或者甲方对第三方承担保密义务的，与甲方业务有关的，能为甲方带来经济利益，具有实用性的、非公知的所有信息，包括(但不限于)：技术信息、合作费用等经营信息和与甲方行政管理有关的信息和文件(含本合同及相关协议内容)；</p>
<br>
<p>15.转让</p>
<p>15.1 未经其他方事先的书面同意，任何一方均不可将本协议下的权利义务转让给第三方；</p>
<p>15.2 尽管有前述规定，在事先书面通知乙方且不减少乙方物质利益的情况下，甲方有权将其在本协议项下的权利义务转让给开迅公司或开迅公司指定的主体，一旦乙方收到(无论通过电子邮件形式或是快递形式)开迅公司发出的形式和内容如本协议附件二所示的书面通知(“转让通知”)，即视为甲方已将其在本协议项下的权利义务转让给了转让通知所载明的受让方(“受让方”)。自乙方收到通知之日起，乙方应停止向甲方而应转为向受让方履行其在本协议项下的义务及行使其在本协议项下享有的权利；甲方无条件承认转让通知的效力，并同意不向乙方另行主张任何甲方原依据本协议可享有的权利；</p>
<br>
<p>16.附则</p>
<p>16.1 本协议生效后，甲乙双方就履行本协议而达成的新的条款或者为完善本协议而签署新的附件，均属于本协议的有效组成部分，对于甲乙双方均具有约束力；</p>
<p>16.2 本协议任何一方未行使或延迟行使本协议项下的一项权利并不作为对该项权利的放弃；任何单独一次或部分行使一项权利亦不排除将来对该项权利的其他行使；</p>
<p>16.3 若本协议中一项或多项条款，根据任何适用的法律在任何一方面裁定为无效、不合法或不可执行，本协议其余条款的有效性、合法性和可执行性并不因此在任何方面受影响或受损害。双方应通过诚意磋商，争取以有效的条款取代那些无效、不合法或不可执行的条款，而该等有效的条款所产生的经济效果应尽可能与那些无效、不合法或不可执行的条款所产生的经济效果相似；</p>
<p>16.4 本协议构成双方就本次合作以及本协议中其他相关事项达成的完整协议，并取代双方此前关于本次合作以及本协议中其他相关事项所达成的任何协议、谅解备忘录、陈述或其他义务(无论以书面或口头形式，包括各类沟通形式)。如果本协议中的约定与此前双方或各有关方签署的协议、文件约定的内容不一致或冲突，双方同意以本协议的约定为准，并替代的此前的约定(包括原协议)。本协议生效之日起，原协议自动终止；</p>
<p>16.5 甲、乙双方对本协议项下所有条款均认真、仔细阅读并完全理解，且双方在签订本协议时对所有条款均作出了详细确认及明确提示说明，甲、乙双方共同确认本协议不构成任何一方的格式合同。甲、乙双方再次确认均应秉持契约精神全面履行本协议项下各自合同义务；</p>
<p>16.6 本协议自甲乙双方盖章或签字后生效；</p>
<br>
<p style="text-align:center;">[以下无正文]</p>
<br>
<p>甲方：        (盖章)</p>
<br>
<p>乙方已经阅读并充分理解本协议条款之含义，同意签署并履行本协议。</p>
<br>
<p>乙方：________________(签字)</p>
<br>
<p>打指模：</p>
<br>
<p>如乙方未满16周岁，须由法定监护人签字。法定监护人已经阅读并充分理解本协议条款之含义，同意乙方签署并履行本协议。</p>
<br>
<p>乙方法定监护人：________________（签字)</p>
<br>
<p style="text-align:center;">附件一：乙方及紧急联系人信息</p>
<br>
<p>附件一A：紧急联系人信息</p>
<p>联系地址：   ________________</p>
<p>电话：      ________________</p>
<p>与乙方关系： ________________</p>
<p>电子邮箱：   ________________</p>
<br>
<p>附件一B：乙方及其法定监护人（如适用）证件复印件</p>
<br>
<p style="text-align:center;">附件二：转让通知</p>
#end
#macro(tenYuanWeekGift)
<div id="qicaipaopaoPrompt" class="qicaipaopao-content #if(!$isFirstPay) old-height #end">
	<img class="qicaipaopao-colse-btn" src="$imagePrefix/event_qicailibao/pc_close.png"/>
	<img class="qicaipaopao-title" src="$imagePrefix/event_qicailibao/title.png"/>
	#if($isFirstPay)
	<img class="qicaipaopao-info" src="$imagePrefix/event_qicailibao/first-user.png"/>
	#else
	<img class="qicaipaopao-info" src="$imagePrefix/event_qicailibao/old-user.png"/>
	#end
	<div class="text">每周限购一次</div>
	#if(!$hasPay)
	<img class="qicaipaopao-buy" src="$imagePrefix/event_qicailibao/buy-btn.png"/>
	#else
	<img class="qicaipaopao-has-buy" src="$imagePrefix/event_qicailibao/buyed.png"/>
	#end
	<div class="qicaipaopao-tips">
		<span>礼包说明</span>
		<img class="qicaipaopao-arrow" src="$imagePrefix/event_qicailibao/pc_arrow_up.png"/>
	</div>
	<div class="qicaipaopao-tips-text">
		<p style="margin-top:15px;">1.每个账号每周仅限购买七彩礼包1次</p>
		<p>2.购买成功后，去直播间【礼物-我的道具】点击使用</p>
		<p>3.充值购买礼包，默认同时使用充值返币券，获得触手币</p>
		<p>4.充值的金额，将计入充值任务，可享受充值和返币的奖励</p>
		<p>5.若用户一周内重复购买，将以充值10元的方式，返还10000触手币</p>
	</div>
</div>
#end