#parse( "pc/common/system_config.vm" )
#parse( "pc/common/global_util.vm" )
## header   websiteType(目前0代表首页，1代表活动，2代表咨询, 3代表广场)
#macro(pc_header $params)
<!DOCTYPE html>
	<head>
    <meta charset="utf-8">
    #if(${params.websiteType}&&(${params.websiteType}=='1'||${params.websiteType}=='2'))
    	<title>${params.title}-触手直播平台官网</title>
        <meta name="keywords" content="${params.title}">
        <meta name="description" content="${params.title}">
    #else
   		<title>${params.title}</title>
	    #if(!${params.keywords})
	      <meta name="keywords" content="触手,手游直播,手游直播平台">
	    #else
	      <meta name="keywords" content="${params.keywords}">
	    #end
	    #if(${params.description})
	      <meta name="description" content="${params.description}">
	    #else
	      <meta name="description" content="触手,手游直播平台,提供手游高清直播和热门手游赛事直播,更有明星和大神主播教你玩王者荣耀,球球大作战,我的世界,天天酷跑,CF手游枪战王者等游戏攻略和技巧。">
	    #end
	#end
    <meta name="renderer" content="webkit" />
    <meta property="qc:admins" content="11433762623075646" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="baidu-site-verification" content="vNm7tTTb2i" />
    <meta name="sogou_site_verification" content="RqRbVcCZ2x"/>
    <meta name="360-site-verification" content="85058dc084feb88dc86c88f86ff94fdb" />
    #if(${params.websiteType}&&${params.websiteType}=='0')
   	<meta name="shenma-site-verification" content="63f17930968a4dc3df128ae90dc7bc93_1477558123">
    #end
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="$ctx/favicon.ico">
    <link rel='canonical' href='$!{currentRequestUrl}'>
    <link href="${env}/css/style.css${staticFileVersion}" rel="stylesheet">
    <link href="${env}/css/task.css${staticFileVersion}" rel="stylesheet">
    <link href="//g.alicdn.com/sd/ncpc/nc.css?t=1514859842683" rel="stylesheet"/>##阿里code css
    #foreach( $cssFile in ${params.cssList})
    <link href="${env}/css/${cssFile}${staticFileVersion}" rel="stylesheet">
    #end
    <script type="text/javascript">
      var CONTEXT_PATH = '$ctx';
      var STATIC_PATH = '$env';
      var PIC_PREFIX_PATH="$imagePrefix";
      var Switch_Protocol = '$SwitchProtocol';
      var G_SWF_VERSION="$flashLocation";
    </script>
    #if (${params.headMacroName})
      #set( $headMacroCall = "#${params.headMacroName}()")
      #evaluate($headMacroCall)
    #end
    #if ( !$isInChuShouApp )
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "$SwitchProtocol//hm.baidu.com/hm.js?c0d39162b8644bbf06f351695f6297ea";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
		(function() { window._smConf = {
			organization: 'WCZeYdJAYgLrFGIDzkmV', //需要修改为业务 organization
			staticHost: 'static.fengkongcloud.com' };
			var sm = document.createElement("script");
			sm.src = ('https:' === document.location.protocol ? 'https:' : 'http:') + '//' + _smConf.staticHost + '/fpv2.js';
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(sm, s);
		})();
	</script>
	#end
	</head>
#end
## 引入js
#macro(pc_js $jsList)
	<script type="text/javascript" src="${env}/js/lib/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="${env}/js/business/room_detail/jquery.cookie.js"></script>
	<script id="-mob-share" type="text/javascript"  src="${env}/js/lib/mob-share/mob-share.js"></script>
    <script src="//g.alicdn.com/sd/ncpc/nc.js?t=1514859842683"></script>##阿里code js
	#foreach($jsFile in $jsList)
		<script type="text/javascript" src="${env}/js/${jsFile}${staticFileVersion}"></script>
	#end
#end
## 新导航栏
#macro(pc_nav $params)
<div class="cs_header">
	<div class="bigContainer" id="head_bcontainer">
		<div class="cs_logo">
			#if ($src == 'baixing' )
				<a id="chushou_logo" href="https://chushou.tv"><img src="$SwitchProtocol//kascdn.kascend.com/jellyfish/logo/logo_baixing_1.png" alt="触手-手游直播平台" title="触手-手游直播平台"></a>
			#else
				<a id="chushou_logo" href="https://chushou.tv">
					#if(${params.websiteType}&&${params.websiteType}=='0')
						<h1><img src="$imagePrefix/images/common/logo2_modify1.png" alt="触手-手游直播平台" title="触手-手游直播平台"></h1>
				    #else
				    	<img src="$imagePrefix/images/common/logo2_modify1.png" alt="触手-手游直播平台" title="触手-手游直播平台">
				    #end
				</a>
			#end
		</div>
		<div class="cs_nav">
			<ul class="cs_nav_ul">
				<li>
					<a id="chushou_index" href="#util_homePageUrl()" class="cs_one_nav homePage">首页</a>
				</li>
				<li>
					<a id="chushou_live" href="$ctx/live/list.htm" class="cs_one_nav livePage">直播</a>
				</li>
				<li>
					<a id="chushou_square" href="$ctx/square.htm" class="cs_one_nav squarePage">广场</a>
				</li>
				<li class="cs_one_lidown">
					<a id="chushou_gamezone" href="$ctx/gamezone.htm"  class="cs_one_nav">
						<span  class="gamezone_tab">游戏专区</span>
						<img class="gamezone_up_arrow" src="$imagePrefix/gamezone_plate/gamezone_up_arrow.png">
					</a>
					<div class="cs_one_nav_down">
						<div class="cs_one_nav_content">
							<a href="https://chushou.tv/gamezone/pvp.htm" class="gameNameBtn">王者荣耀</a>
							<a href="https://chushou.tv/gamezone/cfm.htm" class="gameNameBtn">穿越火线</a>
							<a href="https://chushou.tv/gamezone/lzg.htm" class="gameNameBtn">龙之谷</a>
							<a href="https://chushou.tv/gamezone/qqdzz.htm" class="gameNameBtn">球球大作战</a>
							<a href="https://chushou.tv/gamezone/djyx.htm" class="gameNameBtn">单机游戏</a>
							<a href="https://chushou.tv/gamezone/pao.htm" class="gameNameBtn">天天酷跑</a>
							<a href="https://chushou.tv/gamezone/mc.htm" class="gameNameBtn">我的世界</a>
							<a href="https://chushou.tv/gamezone/lrs.htm" class="gameNameBtn">狼人杀</a>
							<a href="https://chushou.tv/gamezone/HYRZM.htm" class="gameNameBtn">火影忍者</a>
							<a href="https://chushou.tv/gamezone/yys.htm" class="gameNameBtn">阴阳师</a>
							<a href="https://chushou.tv/gamezone/ca.htm" class="gameNameBtn">全民枪战</a>
							<a href="$ctx/gamezone.htm" class="allGameBtn" id="allGameBtn">全部游戏</a>
						</div>
						<div class="cs_one_nav_line"></div>
					</div>
				</li>
				<li>
					<a id="chushou_billboard" href="$ctx/room/billboard/get-list.htm" class="cs_one_nav billboardPage">排行榜</a>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<div id="chushou_search" class="cs_search">
			<div class="cs_searchin_block">
				<input type="text" class="cs_searchin" id="cs_searchin" placeholder="主播、直播" value="$!{keyword}">
				<div class="cs_searchtop">
					<div class="cs_searchblock">
						<span class="common_icon icon_searchbtn"></span>
					</div>
				</div>
				<div class="cs_searchtop2">
					<div class="cs_searchblock2">
						<span class="common_icon icon_searchbtn2"></span>
					</div>
				</div>
			</div>
			<div class="globe_search_smart_guess" id="globe_search_smart_guess">
		        <div class="globe_search_smart_con">
		          <div class="globe_hot_title">热门搜索</div>
		          <div class="clear" id="globe_smart_guess_clear"></div>
		        </div>
		    </div>
		    <div class="globe_search_smart_guess_list" id="globe_search_smart_guess_list">
		        <ul id="globe_search_list">
		        </ul>
		    </div>
		</div>
		#if($showHeadNav)
		<a class="match-url" target="_blank" href="$ctx/event/annual/celebration/info.htm" title="年度盛典"></a>
		#end
		#if($currentUser)
			#if($currentUser.isRegisterUser())
				<div class="cs_user" data-nicename="$escapeTool.html(${currentUser.nickname})" data-token="$!{currentToken}" data-userid="${currentUser.uid}" data-isloggedin="true" data-point="#if(${currentUser.meta.userRankPoint})${currentUser.meta.userRankPoint}#else 0#end">
			#else
				<div class="cs_user" data-nicename="$escapeTool.html(${currentUser.nickname})" data-token="$!{currentToken}" data-userid="${currentUser.uid}" data-isloggedin="false" data-point="0">
			#end
		#else
		<div class="cs_user" data-nicename="" data-userid="" data-isloggedin="false">
		#end
			#if($currentUser && $currentUser.isRegisterUser())
				<div class="cs_user_facediv">
					<a href="$ctx/profile/detail.htm" rel="nofollow" class="cs_user_face">
						#if($currentUser.avatar=="")
							<img src="$imagePrefix/images/mobile/default.png" alt="$escapeTool.html($!{currentUser.nickname})">
						#else
							<img src="#util_imageFormat($currentUser.avatar,'jellyfishavatar')" alt="$escapeTool.html($!{currentUser.nickname})">
						#end

						<div class="redCricle message_circle"></div>
					</a>
				</div>
				<div class="cs_user_downlist">
					<ul>
						<li>
							<a href="$ctx/profile/detail.htm" rel="nofollow">
								<span class="common_icon myinfor_icon"></span>
								<span class="downlist_text">我的信息</span>
								<span class="clear"></span>
							</a>
						</li>
						<li>
							<a href="$ctx/subscriber/list.htm" rel="nofollow">
								<span class="common_icon subscriber_list_icon"></span>
								<span class="downlist_text">我的关注</span>
								<span class="clear"></span>
							</a>

						</li>
						<li class="message_li">
							<a href="$ctx/message/list.htm" rel="nofollow">
								<span class="common_icon message_icon"></span>
								<span class="downlist_text">我的消息</span>
								<span class="redCricle message_circle"></span>
							## 	<span class="clear"></span>
							</a>
						</li>
						<li>
							<a href="$ctx/pay.htm" rel="nofollow">
								<span class="common_icon recharge_icon"></span>
								<span class="downlist_text">充值</span>
								<span class="clear"></span>
							</a>
						</li>
						<li>
							<a href="$ctx/logout.htm" rel="nofollow">
								<span class="common_icon signout_icon"></span>
								<span class="downlist_text">退出登录</span>
								<span class="clear"></span>
							</a>
						</li>
						## <li class="clear"></li>
					</ul>
					<div class="clear"></div>
				</div>
			#end
		</div>

		#if(!$currentUser || !$currentUser.isRegisterUser())
			<div class="not_login_block">
				<ul>
					<li>
						<a id="chushou_login"  data-isloggedin='$currentUser.isRegisterUser()' class="allBtn loginopen">登录</a>
					</li>
					<li>
						<a id="chushou_register" target="_blank" href="$ctx/register.htm" rel="nofollow" class="allBtn head_register_btn">注册</a>
					</li>
				</ul>
			</div>
		#end

		<div class="cs_nav cs_nav_some">
			<ul class="cs_nav_ul">
				<li id="task_head_block">
				  <a  target="_blank" class="cs_one_nav" id="task_head_block">
				  	<span class="common_icon task_icon"></span>
				  	<span class="tab_text">任务</span>
				  	<div class="redCricle task_circle"></div>
				  </a>
				   <div class="task_head_ercode_block" id="task_head_ercode_block">
				   		<span class="novice_ercode"></span>
						<span class="novice_xc" id="novice_xc"></span>
				  </div>
				</li>
				<li class="subscriberLi" id="subscriber_list_li">
					<a id="chushou_subscriber" target="_blank" class="cs_one_nav">
						<span class="common_icon subscriber_list_icon"></span>
						<span class="tab_text subscriber_list_tab">关注</span>
					</a>
					 <div name="allAlertPanel" class="head_subscriberBlock">
					 	<div class="head_person_block">
					 		<div class="clear" id="head_clear_block"></div>
					 	</div>
			            <div  class="head_moreBlock">
			                <a href="$ctx/subscriber/list.htm" rel="nofollow" target="_blank">
			                	<span class="head_sub_more sub_more"></span>
			                	<span>更多&nbsp;</span>

			                </a>
			            </div>
			        </div>
			        <div class="head_havNoSub">
			            <img src="$imagePrefix/images/subscriber.png" width="40px" alt="您还没有关注任何内容"/>
			            <span>您还没有关注任何内容</span>
			        </div>
			        <div class="head_notLogin">
			            <img src="$imagePrefix/images/subscriber2.png" width="40px" alt="忘记登录啦"/>
			            <div>
			            <span >忘记登录啦？点击</span>
			            <span class="loginUrl">登录</span>
			            <span>|</span>
			            <a href="$ctx/register.htm" rel="nofollow" target="_blank"><span class="register_text">注册</span></a>
			            </div>
			        </div>
			        <script id="head_detailMore" type="x-tmpl-mustache">
			          {{#list}}
			            <div class="head_person">
			              <a href="$ctx/room/{{id}}.htm" rel="nofollow">
			                <img src="{{avatar}}" alt="" class="personface" alt="{{nickname}}"/>
			                <span class="icon icon_video {{live}}"></span>
			                <span class="nickname">{{nickname}}</span>
			              </a>
			            </div>
			          {{/list}}
			        </script>
				</li>
				## #end
				<li class="head_history" id="head_history">
					<a id="chushou_history" target="_blank" class="cs_one_nav">
					  	<span class="common_icon historyhead_icon"></span>
					  	<span class="tab_text">历史</span>
					</a>
					<div class="head_havNoHis">
			            <img src="$imagePrefix/images/subscriber.png" width="40px" alt="您还没有观看任何内容"/>
			            <span>您还没有观看任何内容</span>
			        </div>
			        <div class="head_notLoginHis">
			            <img src="$imagePrefix/images/subscriber2.png" width="40px" alt="忘记登录啦"/>
			            <div>
			            <span >忘记登录啦？点击</span>
			            <span class="loginUrl">登录</span>
			            <span>|</span>
			            <a href="$ctx/register.htm" rel="nofollow" target="_blank"><span class="register_text">注册</span></a>
			            </div>
			        </div>
			         <script id="head_detailMore2" type="x-tmpl-mustache">
			          {{#list}}
			            <div class="head_person">
			              <a href="{{url}}" target="_blank" rel="nofollow">
			                <img src="{{avatar}}" alt="" class="personface" alt="{{nickname}}"/>
			                <span class="nickname">{{nickname}}</span>
			              </a>
			            </div>
			          {{/list}}
			        </script>
				</li>
				#if($currentUser && ${currentUser.isRegisterUser()})
				<li id="head_pay_container">
					<a id="pay" href="$ctx/pay.htm" rel="nofollow" class="allBtn head_payBtn">充值</a>
				</li>
				#end
				<li class="clear"></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
	<div class="modal_panel login_panel">
		<div class="modal_mask"></div>
		<div class="modal_block">
			<div class="modal_login_close"></div>
			<div class="modal_login_ohterway">
				<p class="title">第三方帐号登录</p>
				<div class="otherway_block">
					<a id="chushou_weibo_login" href="${ctx}/sina/login.htm" rel="nofollow" class="login_other login_by_weibo">
						<div class="otherway_img weibo_login_icon"></div>
						<span>微博登录</span>
					</a>
					<a id="chushou_qq_login" href="${ctx}/qq/login.htm" rel="nofollow" class="login_other login_by_qq">
						<div class="otherway_img qq_login_icon"></div>
						<span>QQ登录</span>
					</a>
					<a id="chushou_weixin_login" href="${ctx}/weixin/login.htm" rel="nofollow" class="login_other login_by_weixin">
						<div class="otherway_img weixin_login_icon"></div>
						<span>微信登录</span>
					</a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="modal_separated">
				<div class="leftdivline"></div>
				<div class="text">或</div>
				<div class="rightdivline"></div>
				<div class="clear"></div>
			</div>
			<div class="modal_con">
				<p class="title">触手帐号登录</p>
				<div class="modal_login_left">
					<div class="login_input_group login_first_input">
						<input id="chushou_phone_input" type="text" class="zs_text login_btn_text login_phone" placeholder="">
						<div class="login_label" data-val="手机号">手机号</div>
						<div class="clear"></div>
						<div class="login_message"></div>
					</div>
					<div class="login_input_group">
						<input type="password" class="zs_text login_btn_text login_password" placeholder="" autocomplete="off">
						<div class="login_label" data-val="密码">密码</div>
						<div class="clear"></div>
						<div class="login_message"></div>
					</div>
					<div class="login_btn_group">
						<a id="chushou_login_btn" class="zs_btn login_submit_btn">登录</a>
					</div>
				</div>
				
				<div class="clear"></div>
			</div>
			<div class="modal_top">
				<a id="chushou_goto_register" href="$ctx/register.htm" rel="nofollow" target="_blank" class="registerText">我要注册</a>
				<a href="$ctx/password/reset.htm" rel="nofollow" target="_blank" class="forgetPassword">忘记密码？</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
#end
## 底部导航
#macro(pc_footer)
	<div class="footer">
		<div class="zb_footer">
			<div class="bigContainer" id="footerContainer">
				<img src="$imagePrefix/images/new/logo@2x_modify.png" class="footer_logo" alt="触手-手游直播平台"/>
				<div class="ab_center_block">
					<div class="zb_f_div">
						<span class="zb_f_title">帮助中心</span>
						<ul>
							<li>
								<a target="_blank"  rel="nofollow" href="$ctx/help.htm?type=1">主播教程</a>
							</li>
							<li>
								<a target="_blank"  rel="nofollow" href="$ctx/help.htm?type=2">主播常见问题</a>
						    </li>
						    <li>
								<a target="_blank" rel="nofollow" href="$ctx/help.htm?type=3">用户常见问题</a>
							</li>
							<li>
								<a target="_blank" rel="nofollow" href="$ctx/help.htm?type=4">签约咨询</a>
							</li>
							<li>
								<a target="_blank" rel="nofollow" href="$ctx/help.htm?type=6">文件下载</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					#if($currentHost.indexOf('xvkmjwp')==-1 && $currentHost.indexOf('appquan')==-1)
					<div class="zb_f_div">
						<span class="zb_f_title">关于我们</span>
						<ul>
							<li>
								<a target="_blank" rel="nofollow" href="$ctx/guide/about.htm">关于我们</a>
							</li>
						    <li>
								<a target="_blank" rel="nofollow" href="$ctx/guide/contact.htm">联系我们</a>
							</li>
							<li>
								<a target="_blank" rel="nofollow" href="$ctx/help/custome.htm">联系客服</a>
							</li>
							<li>
								<a target="_blank" rel="nofollow" href="$ctx/guide/join.htm">人才招聘</a>
							</li>
							<li>
								<a target="_blank" rel="nofollow" href="$ctx/guide/copyright.htm">著作权声明</a>
							</li>
							<li class="sub_weixin_block">
								<div class="zb_f_weixin">
									<img src="$imagePrefix/images/weixin2.jpg" alt="触手官方微信公众号"/>
									<span>触手官方微信公众号</span>
								</div>
								<span class="footer_icon weixin_footer_icon" id="weixin_footer_icon"></span>
								<a target="_blank" rel="nofollow" href="http://weibo.com/ichushou">
									<span class="footer_icon weibo_footer_icon"></span>
								</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					#end
					## <div class="zb_f_div">
					## 	<span class="zb_f_title">官方交流群</span>
					## 	<ul style="max-width: 640px;">
					## 		<li>
					## 			群①：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=01e8f1753faa388c6abb3ac553f33cff1dc4d442e12875d896e8ec894d6fb087">413792135</a>(已满)
					## 		</li>
					## 		<li>
					## 			群②：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=57e38fe07eafc6292ccbf6ad84d0de34ceb88401862ebeff001bfb978d705bee">466723306</a>(已满)
					## 		</li>
					## 		<li>
					## 			群③：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f3c28639bcb1fc2602f7c236cb6a46c8ada3f4a665ec72ae913da3494360ce0a">439190837</a>(已满)
					## 		</li>
					## 		<li>
					## 			群④：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=49dbf08fd0faa4732ae3a174e940f356fd7a9a941365e289199eb954a68e877f">492190368</a>(已满)
					## 		</li>
					## 		<li>
					## 			群⑤：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=ab7d898d4d8d426c09cc52d41be67b899e8720e38a59f8610d9e5f5827fe1d7d">229626340</a>(已满)
					## 		</li>
					## 		<li>
					## 			群⑥：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=dc33e91ecaef57b0dc68b088d8bfe47687b40290269cfd7c357006bbfeb9bfcd">536059462</a>
					## 		</li>
					## 	</ul>
					## 	<div class="clear"></div>
					## </div>
					#if ($src == 'baixing' )
						<div class="zb_copyright">
							沪ICP备06019413号&nbsp;&nbsp;沪ICP证B2-20080088|客服电话：400-036-3650(周一至周日，9:00-12:00，13:00-18:00)|地址：上海市徐汇区广元西路55号浩然高科技大厦18楼<br>
							百姓网深度合作伙伴
						</div>
					#else
						#if($currentHost.indexOf('xvkmjwp')==-1 && $currentHost.indexOf('appquan')==-1)
							<div class="zb_copyright">
								<a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602001825" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="$imagePrefix/footer_icon/footer_icon.png" style="float:left; margin-top: -3px; margin-right:5px;" alt="触手-手游直播平台"/>浙公网安备 33010602001825号</a><span class="footer_divide_line">|</span>浙ICP备12016570号-6&nbsp;&nbsp;杭州开迅科技有限公司 2015&copy;版权所有
								<br><a style="color: #ff5959;" rel="nofollow" href="$SwitchProtocol//kascdn.kascend.com/jellyfish/safety_responsibility_agreement.pdf">安全责任书</a><span class="footer_divide_line">|</span><a style="color: #ff5959;" rel="nofollow" href="$imagePrefix/footerLicence/licence.JPG">网络文化经营许可证</a>&nbsp;&nbsp;浙网文[2015]0480-199号|<a href="http://jb.ccm.gov.cn/" rel="nofollow" target="_blank">12318 全国文化市场举报网站</a></br>
								<a logo_size="124x47" logo_type="business" rel="nofollow" href="http://www.anquan.org" style="display: none;" ><script src="$SwitchProtocol//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
							</div>
						#else
							<div class="zb_copyright">
								Copyright©2015 杭州谱铭技术有限公司
							</div>
						#end
					#end
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
	</div>
#end
## 弹窗
#macro(pc_modal )
	<div class="modal_panel alert_panel">
		<div class="modal_block">
			<div class="modal_top">
				<span class="modal_title">提示</span>
				<div class="modal_close"><img src="$imagePrefix/images/apply/close.png" alt="关闭"/></div>
				<div class="clear"></div>
			</div>
			<div class="modal_con">
				<span class="alert_message"></span>
			</div>
		</div>
	</div>
#end
##浮动块
#macro(pc_floatModal)
	<div class="right_float_block">
		<a target="_blank" href="$ctx/download.htm">
			<div class="rf_download">

			</div>
		</a>
		<div class="rf_detail">
			<div class="rf_float_detail rf_anchor">
				<a href="$ctx/anchor/verify.htm" rel="nofollow">
					<span class="float_icon rf_anchor_icon"></span>
					<span class="rf_text">做主播</span>
				</a>
			</div>
			<div class="divide_block">
			</div>
			<div class="rf_float_detail rf_collectPage" id="rf_collectPage">
				<span class="float_icon rf_collect_icon"></span>
				<span class="rf_text">收藏本页</span>
			</div>
			<div class="divide_block"></div>
			<div class="rf_float_detail rf_backToTop" id="rf_backToTop">
				<span class="float_icon rf_back_icon"></span>
				<span class="rf_text">回顶部</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
#end
#macro( sliceCode )
    ##阿里验证码获取
    <div id="_umfp"></div>
    <div class="sliceCode"><span class="slideClose"></span></div>
    <div id="dom_id"></div>
#end
## new pc
#macro(pc_frame $params)
	#pc_header($params)
	<body>
		#pc_nav($params)
		$!bodyContent
		## 弹窗模块
		#pc_modal()
		#if(!${params.websiteType}||${params.websiteType}!='1')
			#if(${params.websiteType}!='3')
				#pc_floatModal()
			#end
		## 弹窗模块
		#pc_footer()
		#end
		#pc_js(${params.jsList})
	</body>
</html>
#end