##静态资源版本号
#set($staticFileVersion = '?v=201801032')
#set($cdnFileVersion = 'sysv611')
#set($ctx = $requestContext.contextPath)
##图片路径前缀 $imagePrefix/common/common_head_default.jpg
#set($imagePrefix = '//kascdn.kascend.com/jellyfish/uiupload')
#set($currentDomain='//chushou.tv')
#set($flashLocation='//kascdn.kascend.com/jellyfish/liveplayer/v/liveplayer.swf')
## 静态文件类型：1、线上；2、beta环境；3、java开发本地；4、开发环境；5、前端开发本地
#set($currentStaticType=5)
#if ($currentStaticType == '1')
    #set($env = "//cdn.kascend.com/jellyfish/" + $cdnFileVersion)
    #set($currentDomain='//chushou.tv')
#elseif( $currentStaticType == '2')
    #set($env = "//cdn.vchushou.com/jellyfish")
    #set($currentDomain='//vchushou.com')
    #set($flashLocation='//flash.vchushou.com/liveplayer/liveplayer.swf')
#elseif( $currentStaticType == '3')
    #set($env = "//183.129.155.244:8082")
    #set($currentDomain='//localhost:8082/home.htm')
    #set($flashLocation='//183flash.vchushou.com/liveplayer/liveplayer.swf')
#elseif( $currentStaticType == '4')
    #set($env = "//183.129.155.244:8082")
    #set($currentDomain='//183.129.155.244:8833/jellyfish-server/home.htm')
    #set($flashLocation='//183flash.vchushou.com/liveplayer/liveplayer.swf')
#elseif( $currentStaticType == '5')
    #set($env = "//172.16.96.23:8080")
    #set($currentDomain='//172.16.96.23:8082/home.htm')
    #set($flashLocation='//127.0.0.1:8080/liveplayer/liveplayer.swf')
#else
    #set($env = "//cdn.kascend.com/jellyfish/" + $cdnFileVersion)
#end
#set($SwitchProtocol='')
#set($titleSuffix = '触手-手游直播平台')